{"openapi":"3.1.0","info":{"title":"Paybito Monetize Service API","description":"REST API documentation for Paybito Bitohub Monetize Service.","contact":{"name":"Paybito","email":"support@paybito.com"},"license":{"name":"Paybito License"},"version":"1.0.0"},"servers":[{"url":"https://institutional-bo.paybito.com:8443/MonetizeService","description":"Production Server"},{"url":"http://localhost:8080/MonetizeService","description":"Local Development Server"}],"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]}],"tags":[{"name":"Dashboard","description":"APIs for retrieving shop owner dashboard information, including shop status, today's KPIs, and pending orders."},{"name":"Creators","description":"APIs for creating, updating, retrieving, verifying, deleting, and checking monetization eligibility of creators."},{"name":"Shop Settings","description":"APIs for managing shop settings, restricted products, shop review requests, shop verification, and shop details."},{"name":"Products","description":"APIs for creating, retrieving, updating, deleting, and managing products, product visibility, activation status, variants, and inventory."},{"name":"Orders","description":"APIs for creating, retrieving, fulfilling, cancelling, returning, and refunding orders."},{"name":"Collections","description":"APIs for creating, updating, deleting, retrieving, and managing product collections."},{"name":"Payouts","description":"APIs for retrieving payout revenue breakdowns, payout statements, lifetime earnings, and platform fee information."},{"name":"Shipping","description":"APIs for managing shipping templates and shipping configuration."},{"name":"Media Content Tagging","description":"APIs for tagging products to media content, retrieving media with tagged products, and updating media product analytics."},{"name":"Collaborations","description":"APIs for creating, updating, retrieving, accepting, rejecting, submitting, completing, and deleting creator-brand collaborations."},{"name":"Fan Subscription","description":"APIs for creating and managing fan subscription tiers and subscription plans."},{"name":"Ad Revenue","description":"APIs for retrieving creator advertising revenue, earnings summaries, performance metrics, format-wise earnings, recent transactions, and revenue chart data."},{"name":"User Address","description":"APIs for managing user addresses, including fetching, adding, updating, and deleting saved addresses."},{"name":"Cart","description":"APIs for managing buyer shopping carts, cart items, quantities, and cart operations."},{"name":"Product Reviews","description":"APIs for creating product reviews, retrieving product rating summaries, and fetching product reviews."},{"name":"Shop Reports","description":"APIs for reporting shops, retrieving pending shop reports, and reviewing reported shops."},{"name":"Analytics","description":"APIs for retrieving creator analytics, revenue performance, audience demographics, engagement data, top-performing content, and business funnel metrics."},{"name":"Transactions","description":"APIs for creating and managing transaction records."},{"name":"Merchandise Analytics","description":"APIs for retrieving merchandise analytics, including KPIs, sales funnel, time-series metrics, top products, and traffic sources."},{"name":"Gifts & Badges","description":"APIs for retrieving gifts and badges dashboard information and revenue summary."},{"name":"Tax","description":"APIs for managing W-9 tax profiles, W-9 details, and 1099-K transaction reports."},{"name":"Brand","description":"APIs for managing brand campaigns, creators, campaign offers, messages, and escrow operations."},{"name":"Creator Collaboration","description":"APIs for creators to retrieve collaboration campaign offers with filtering, search, date range, and pagination support."}],"paths":{"/user-address/updateaddress":{"put":{"tags":["User Address"],"summary":"Update User Address","description":"Updates an existing user address and returns the updated address ID.","operationId":"updateAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAddress"}}},"required":true},"responses":{"200":{"description":"Address updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Address updated successfully","errorCode":null,"error":null,"data":1001}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/shipping/profile":{"put":{"tags":["Shipping"],"summary":"Update Shipping Profile","description":"Updates an existing shipping profile using the provided shipping profile configuration.","operationId":"updateShippingProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShippingProfileRequest"}}},"required":true},"responses":{"200":{"description":"Shipping profile updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Shipping profile updated successfully","data":null,"errorCode":null,"error":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/products/{id}/visibility":{"put":{"tags":["Products"],"summary":"Update product visibility","description":"Updates the visibility/status of a product.","operationId":"setStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Product status updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"Product status updated successfully","data":null}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/products/{id}/isActive":{"put":{"tags":["Products"],"summary":"Update product active status","description":"Updates whether a product is active.","operationId":"setIsActive","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isactive","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Product active status updated","content":{"application/json":{"examples":{"Success":{"description":"Success","value":{"status":200,"message":"Product active status updated"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/products/variants/{variantId}":{"put":{"tags":["Products"],"summary":"Update product variant","description":"Updates an existing product variant.","operationId":"updateVariant","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantRequest"}}},"required":true},"responses":{"200":{"description":"Product variant updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"Success","data":{"variantId":501,"productId":1001,"variantType":"Size","variantName":"L","variantSku":"TSHIRT-L","priceOverride":34.99,"stock":40}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}},"delete":{"tags":["Products"],"summary":"Delete product variant","description":"Deletes an existing product variant.","operationId":"deleteVariant","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Product variant deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"Variant deleted","data":null}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/products/update/{productId}":{"put":{"tags":["Products"],"summary":"Update a product","description":"Updates product information using a multipart request. Existing image URLs can be supplied for removal and new product images can be uploaded.","operationId":"updateProduct","parameters":[{"name":"productId","in":"path","description":"Product ID to update","required":true,"schema":{"type":"integer","format":"int64"},"example":1001},{"name":"request","in":"query","description":"Updated product information as JSON string","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"},"example":{"shopOwnerId":3357,"productName":"Premium Cotton T-Shirt Updated","description":"Updated product description.","price":34.99,"compareAtPrice":44.99,"inventoryType":"in_stock","quantity":80,"sku":"TSHIRT-001","productType":"physical","status":"public","currency":"BUSD","profileId":101,"variants":[{"variantType":"Size","variantName":"M","variantSku":"TSHIRT-M","priceOverride":34.99,"stock":40}]}}}},{"name":"files","in":"query","description":"Optional new product images","required":false,"content":{"multipart/form-data":{"schema":{"type":"array","items":{"type":"string","format":"binary"}}}}},{"name":"oldImageUrls","in":"query","description":"Existing image URLs that should be removed","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"https://example.com/old-product-image.jpg"}],"responses":{"200":{"description":"Product updated successfully or business error returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Product updated successfully","data":null}},"Product Not Found":{"description":"Product Not Found","value":{"success":false,"message":"Product not found","errorCode":"NOT_FOUND","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/orders/fulfillment/update":{"put":{"tags":["Orders"],"summary":"Update order fulfillment","description":"Updates fulfillment information for an order based on the requested action, status, tracking number, carrier, and user performing the update.","operationId":"updateFulfillment","parameters":[{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"action","in":"query","required":true,"schema":{"type":"string"}},{"name":"newStatus","in":"query","required":false,"schema":{"type":"string"}},{"name":"trackingNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"carrier","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedBy","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Fulfillment updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Fulfillment updated successfully","data":true}}}}}},"500":{"description":"Internal server error while updating fulfillment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"status":false,"message":"Unable to update fulfillment","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/orders/cancel_return":{"put":{"tags":["Orders"],"summary":"Cancel or return an order","description":"Marks an order as cancelled/returned using the order ID, buyer ID, reason, updating user, and flag type. The service also processes the related return notification.","operationId":"markOrderAsReturned","parameters":[{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"buyerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}},{"name":"updatedBy","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"flagtype","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Order cancellation/return processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Order returned successfully","data":{"orderId":10001,"orderNumber":"ORD-09392EA2"}}}}}}},"400":{"description":"Unable to process the cancellation/return request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"status":false,"message":"Unable to process order return","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/collections/updateCollection/{id}":{"put":{"tags":["Collections"],"summary":"Update a collection","description":"Updates an existing collection using the collection ID supplied\nin the path parameter.\n\nThe collection ID from the path parameter is assigned to the\nrequest object before the update operation is performed.\n","operationId":"updateCollection","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Collection"}}},"required":true},"responses":{"200":{"description":"Collection update operation completed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Collection Updated":{"summary":"Collection updated successfully","description":"Collection Updated","value":{"success":true,"message":"Collection updated successfully","data":101}},"Invalid Collection ID":{"summary":"Collection ID is missing or invalid","description":"Invalid Collection ID","value":{"success":false,"message":"Collection ID is required","errorCode":"INVALID_INPUT"}},"Update Failed":{"summary":"Collection update failed","description":"Update Failed","value":{"success":false,"message":"Collection update failed","errorCode":"UPDATE_FAILED"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/cart/{buyerId}/item/{cartItemId}":{"put":{"tags":["Cart"],"summary":"Update Cart Item","description":"Updates the details of an existing item in the buyer's shopping cart.","operationId":"updateItem","parameters":[{"name":"buyerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"cartItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItem"}}},"required":true},"responses":{"200":{"description":"Cart item update request processed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Cart item updated successfully","errorCode":null,"error":null,"data":{"cartItemId":5001,"cartId":1001,"productId":3001,"variantId":4001,"shopOwnerId":6001,"quantity":3,"unitPrice":74.995,"totalPrice":224.985,"addedAt":"2026-09-04T10:15:30","updatedAt":"2026-09-04T10:30:30"}}},"Update Failed":{"description":"Update Failed","value":{"status":false,"message":"Unable to update cart item","errorCode":"INVALID_INPUT","error":null,"data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}},"delete":{"tags":["Cart"],"summary":"Remove Cart Item","description":"Removes a specific item from the buyer's shopping cart.","operationId":"removeItem","parameters":[{"name":"buyerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"cartItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Cart item removal request processed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Item removed successfully","errorCode":null,"error":null,"data":null}},"Item Not Found":{"description":"Item Not Found","value":{"status":false,"message":"Cart item not found","errorCode":"NO_DATA","error":null,"data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/api/transactions/{id}":{"get":{"tags":["Transactions"],"summary":"Get Transaction By ID","description":"Retrieves the transaction details for the specified transaction ID.","operationId":"getTransactionById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Transaction retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Found":{"description":"Transaction Found","value":{"success":true,"data":{"transactionId":10001,"creatorId":2001,"transactionType":"SALE","amount":250.0,"currency":"USD","status":"COMPLETED","paymentMethod":"CARD","walletAddress":"0x1234567890abcdef","txHash":"0xabcdef1234567890","referenceId":5001,"referenceType":"ORDER","description":"Payment for merchandise order","metadata":"{}","processedAt":"2026-09-14T18:00:00","createdAt":"2026-09-14T17:59:30"}}}}}}},"404":{"description":"Transaction not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Not Found":{"description":"Transaction Not Found","value":{"success":false,"message":"Transaction not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"put":{"tags":["Transactions"],"summary":"Update Transaction","description":"Updates an existing transaction using the transaction ID provided in the path parameter.","operationId":"updateTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}},"required":true},"responses":{"200":{"description":"Transaction updated successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Transaction updated successfully","data":{"transactionId":10001,"creatorId":2001,"transactionType":"SALE","amount":300.0,"currency":"USD","status":"COMPLETED","paymentMethod":"CARD","walletAddress":"0x1234567890abcdef","txHash":"0xabcdef1234567890","referenceId":5001,"referenceType":"ORDER","description":"Updated payment for merchandise order","metadata":"{}","processedAt":"2026-09-14T18:00:00","createdAt":"2026-09-14T17:59:30"}}}}}}},"500":{"description":"Internal server error while updating the transaction","content":{"application/json":{"schema":{"type":"object"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating transaction: Unable to update transaction"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"delete":{"tags":["Transactions"],"summary":"Delete Transaction","description":"Deletes the transaction identified by the specified transaction ID.","operationId":"deleteTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Transaction deleted successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Deleted":{"description":"Transaction Deleted","value":{"success":true,"message":"Transaction deleted successfully"}}}}}},"404":{"description":"Transaction not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Not Found":{"description":"Transaction Not Found","value":{"success":false,"message":"Transaction not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/transactions/{id}/process":{"put":{"tags":["Transactions"],"summary":"Process Transaction","description":"Processes the specified transaction and associates it with the provided transaction hash.","operationId":"processTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"txHash","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Transaction processed successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Processed":{"description":"Transaction Processed","value":{"success":true,"message":"Transaction processed successfully"}}}}}},"404":{"description":"Transaction not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Not Found":{"description":"Transaction Not Found","value":{"success":false,"message":"Transaction not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/transactions/{id}/fail":{"put":{"tags":["Transactions"],"summary":"Mark Transaction As Failed","description":"Marks the specified transaction as failed.","operationId":"failTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Transaction marked as failed successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Failed":{"description":"Transaction Failed","value":{"success":true,"message":"Transaction marked as failed"}}}}}},"404":{"description":"Transaction not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transaction Not Found":{"description":"Transaction Not Found","value":{"success":false,"message":"Transaction not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/creators/{id}":{"get":{"tags":["Creators"],"summary":"Get creator by ID","description":"Retrieves a creator using the unique creator ID.","operationId":"getCreatorById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Creator retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"data":{"creatorId":1001,"username":"john_creator","email":"john@example.com","fullName":"John Doe","bio":"Digital content creator","profileImageUrl":"https://example.com/images/john.jpg","walletAddress":"0x1234567890abcdef","totalEarnings":2500.0,"followerCount":12500,"isVerified":true,"createdAt":"2026-09-15T10:30:00","updatedAt":"2026-09-15T12:00:00","status":"ACTIVE"}}}}}}},"404":{"description":"Creator not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Creator not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"put":{"tags":["Creators"],"summary":"Update a creator","description":"Updates an existing creator using the creator ID.","operationId":"updateCreator","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Creator"}}}},"responses":{"200":{"description":"Creator updated successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Creator updated successfully","data":{"creatorId":1001,"username":"john_creator","email":"john@example.com","fullName":"John Doe Updated","bio":"Professional digital content creator","profileImageUrl":"https://example.com/images/john-new.jpg","walletAddress":"0x1234567890abcdef","totalEarnings":3500.0,"followerCount":15000,"isVerified":true,"status":"ACTIVE"}}}}}}},"500":{"description":"Error while updating creator","content":{"application/json":{"schema":{"type":"object"},"examples":{"Server Error":{"description":"Server Error","value":{"success":false,"message":"Error updating creator: Database error"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"delete":{"tags":["Creators"],"summary":"Delete a creator","description":"Deletes a creator using the creator ID.","operationId":"deleteCreator","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Creator deleted successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Creator deleted successfully"}}}}}},"404":{"description":"Creator not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Creator not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/creators/{id}/verify":{"put":{"tags":["Creators"],"summary":"Verify a creator","description":"Marks an existing creator as verified.","operationId":"verifyCreator","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Creator verified successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Creator verified successfully"}}}}}},"404":{"description":"Creator not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Creator not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/collaborations/{id}":{"get":{"tags":["Collaborations"],"summary":"Get collaboration by ID","description":"Retrieves a specific collaboration using its unique collaboration ID.","operationId":"getCollaborationById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Collaboration retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"data":{"collaborationId":1001,"campaignId":5001,"creatorId":2001,"brandId":3001,"collaborationType":"SPONSORED_POST","offerAmount":500.0,"finalAmount":475.0,"deliverables":"1 Instagram post","requirements":"Use campaign hashtag","status":"ACCEPTED","submittedAt":null,"approvedAt":"2026-09-15T11:00:00","completedAt":null,"performanceData":null,"createdAt":"2026-09-15T10:30:00","updatedAt":"2026-09-15T11:00:00"}}}}}}},"404":{"description":"Collaboration not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Collaboration not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"put":{"tags":["Collaborations"],"summary":"Update a collaboration","description":"Updates an existing collaboration using the collaboration ID.","operationId":"updateCollaboration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Collaboration"}}},"required":true},"responses":{"200":{"description":"Collaboration updated successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Collaboration updated successfully","data":{"collaborationId":1001,"campaignId":5001,"creatorId":2001,"brandId":3001,"collaborationType":"SPONSORED_POST","offerAmount":500.0,"finalAmount":475.0,"deliverables":"1 Instagram post","requirements":"Use campaign hashtag","status":"ACCEPTED"}}}}}}},"500":{"description":"Error while updating collaboration","content":{"application/json":{"schema":{"type":"object"},"examples":{"Server Error":{"description":"Server Error","value":{"success":false,"message":"Error updating collaboration: Database error"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"delete":{"tags":["Collaborations"],"summary":"Delete a collaboration","description":"Deletes an existing collaboration using its unique collaboration ID.","operationId":"deleteCollaboration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Collaboration deleted successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Collaboration deleted successfully"}}}}}},"404":{"description":"Collaboration not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Collaboration not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/collaborations/{id}/submit":{"put":{"tags":["Collaborations"],"summary":"Submit a collaboration","description":"Submits a collaboration for further processing and changes its status to IN_PROGRESS.","operationId":"submitCollaboration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Collaboration submitted successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Collaboration submitted successfully"}}}}}},"404":{"description":"Collaboration not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Collaboration not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/collaborations/{id}/reject":{"put":{"tags":["Collaborations"],"summary":"Reject a collaboration","description":"Rejects an existing collaboration by changing its status to REJECTED.","operationId":"rejectCollaboration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Collaboration rejected successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Collaboration rejected"}}}}}},"404":{"description":"Collaboration not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Collaboration not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/collaborations/{id}/complete":{"put":{"tags":["Collaborations"],"summary":"Complete a collaboration","description":"Marks a collaboration as COMPLETED and records the completion timestamp.","operationId":"completeCollaboration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Collaboration completed successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Collaboration completed successfully"}}}}}},"404":{"description":"Collaboration not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Collaboration not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/api/collaborations/{id}/accept":{"put":{"tags":["Collaborations"],"summary":"Accept a collaboration","description":"Accepts a collaboration and changes its status to ACCEPTED. The approval timestamp is also recorded.","operationId":"acceptCollaboration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Collaboration accepted successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Collaboration accepted successfully"}}}}}},"404":{"description":"Collaboration not found","content":{"application/json":{"schema":{"type":"object"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Collaboration not found"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/user-address/addaddress":{"post":{"tags":["User Address"],"summary":"Add User Address","description":"Adds a new address for a user and returns the generated address ID.","operationId":"addAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAddress"}}},"required":true},"responses":{"200":{"description":"Address added successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Address added successfully","errorCode":null,"error":null,"data":1001}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/tax/w9":{"post":{"tags":["Tax"],"summary":"Create W-9 Tax Profile","description":"Creates a new W-9 tax profile for a user. The request contains the TaxProfile data as JSON and optionally one or more W-9 supporting documents. Uploaded documents are stored and their URLs are attached to the tax profile before it is created.","operationId":"createTaxProfile","parameters":[{"name":"request","in":"query","required":true,"schema":{"type":"string"}},{"name":"files","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"binary"}}}],"responses":{"200":{"description":"W-9 tax profile created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"W9 Created":{"description":"W9 Created","value":{"success":true,"message":"Tax Form W-9 profile created successfully","data":10001,"totalRecords":1}}}}}},"400":{"description":"Invalid request or file upload failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"Invalid W-9 request","errorCode":"BAD_REQUEST","data":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error","errorCode":"INTERNAL_ERROR","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/tax/w9/upsert":{"post":{"tags":["Tax"],"summary":"Upsert W-9 Details","description":"Creates or updates W-9 details for the specified tax profile and user.","operationId":"upsertW9Details","parameters":[{"name":"taxProfileId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"W-9 details processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"W9 details upserted: W9 details updated successfully","data":null}},"Database Error":{"description":"Database Error","value":{"success":false,"message":"DB Error: Unable to update W9 details","errorCode":"DB_ERROR","data":null}},"Procedure Return Error":{"description":"Procedure Return Error","value":{"success":false,"message":"Procedure did not return R_RETURN_ID. Msg: Database response unavailable","errorCode":"DB_ERROR","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/subscription/tiers":{"get":{"tags":["Fan Subscription"],"summary":"Get creator subscription tiers","description":"Retrieves all subscription tiers configured for the currently authenticated creator. The creator ID is obtained from the HTTP session userId attribute.","operationId":"getTiers","responses":{"200":{"description":"Error while fetching subscription tiers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Error":{"summary":"Failed to fetch subscription tiers","description":"Error","value":{"status":false,"message":"Error fetching tiers: Unable to fetch subscription tiers"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"post":{"tags":["Fan Subscription"],"summary":"Create subscription tier","description":"Creates a new fan subscription tier using the complete subscription tier configuration.","operationId":"createTier","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionTier"}}},"required":true},"responses":{"200":{"description":"Subscription tier creation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Creation Error":{"summary":"Subscription tier creation failed","description":"Creation Error","value":{"status":false,"message":"Error creating tier: Unable to create subscription tier","errorCode":"CREATION_FAILED"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/subscription/tiers/addPlan":{"post":{"tags":["Fan Subscription"],"summary":"Create subscription plan","description":"Creates a subscription plan using the plan ID, name, price, and description provided in the request.","operationId":"createTierPlan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FanSubscriptionTier"}}},"required":true},"responses":{"200":{"description":"Subscription plan creation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Creation Error":{"summary":"Subscription plan creation failed","description":"Creation Error","value":{"status":false,"message":"Error creating tier: Unable to create subscription plan","errorCode":"CREATION_FAILED"}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/subscription/settings":{"get":{"tags":["Fan Subscription"],"summary":"Get subscription settings","description":"Retrieves the list of subscription settings configured for creators.","operationId":"listSubscriptionSettings","responses":{"200":{"description":"Subscription settings list fetched successfully or no settings were found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Subscription settings found","description":"Success","value":{"status":true,"message":"Subscription settings list fetched","errorCode":null,"error":null,"data":[{"settingsId":101,"enabledSubscriptions":1,"subscriptionNotifications":1,"autoRenewal":1,"welcomeMessage":"Welcome to my exclusive subscription!","minSubscriptionPeriod":"1 MONTH","freeTrialDays":7,"creatorId":1001,"currentTierId":102,"featuresIds":[1,2,3],"createdAt":"2026-09-01T10:30:00","updatedAt":"2026-09-10T14:20:00"}]}},"No Settings":{"summary":"No subscription settings found","description":"No Settings","value":{"status":false,"message":"No subscription settings found","errorCode":"NO_RECORD_FOUND","error":null,"data":null}},"Fetch Error":{"summary":"Unexpected error while fetching settings","description":"Fetch Error","value":{"status":false,"message":"Error fetching settings list: Database error","errorCode":"FETCH_FAILED","error":null,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}},"post":{"tags":["Fan Subscription"],"summary":"Save subscription settings","description":"Creates or updates the fan subscription settings.","operationId":"upsertSubscriptionSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionSettings"}}},"required":true},"responses":{"200":{"description":"Subscription settings saved successfully or a business-level validation error occurred.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Subscription settings saved","description":"Success","value":{"status":true,"message":"Subscription settings saved","errorCode":null,"error":null,"data":101}},"Invalid Input":{"summary":"Invalid subscription settings","description":"Invalid Input","value":{"status":false,"message":"Invalid subscription settings","errorCode":"INVALID_INPUT","error":null,"data":null}},"Save Error":{"summary":"Unexpected error while saving settings","description":"Save Error","value":{"status":false,"message":"Error saving settings: Database error","errorCode":"CREATION_FAILED","error":null,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/subscription/create":{"post":{"tags":["Fan Subscription"],"summary":"Create fan subscription","description":"Creates a fan subscription for a subscriber under a creator's current subscription tier. A notification is created when subscription notifications are enabled for the creator.","operationId":"createSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubscriptionRequest"}}},"required":true},"responses":{"200":{"description":"Subscription created successfully or a business-level error occurred.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Subscription created","description":"Success","value":{"status":true,"message":"Subscription created","errorCode":null,"error":null,"data":{"returnId":1,"message":"Subscription created successfully"}}},"Subscription Creation Failed":{"summary":"Subscription could not be created","description":"Subscription Creation Failed","value":{"status":false,"message":"Subscription already exists","errorCode":"SUBSCRIPTION_CREATION_FAILED","error":null,"data":null}},"Invalid Input":{"summary":"Required request field is missing","description":"Invalid Input","value":{"status":false,"message":"creatorId is required","errorCode":"INVALID_INPUT","error":null,"data":null}},"Creation Error":{"summary":"Unexpected error while creating subscription","description":"Creation Error","value":{"status":false,"message":"Error creating subscription: Database error","errorCode":"CREATION_FAILED","error":null,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/shipping/template":{"post":{"tags":["Shipping"],"summary":"Create Shipping Template","description":"Creates and saves a new shipping template using the provided shipping template details.","operationId":"saveShippingTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingTemplateRequest"}}},"required":true},"responses":{"200":{"description":"Shipping template created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Shipping Template Created Successfully","data":null,"errorCode":null,"error":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/shipping/calculate":{"post":{"tags":["Shipping"],"summary":"Calculate Shipping","description":"Calculates available shipping methods and shipping costs for the items in a buyer's cart based on the selected shipping profile and delivery address.","operationId":"calculate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingCalculationRequest"}}},"required":true},"responses":{"200":{"description":"Shipping calculation completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Shipping Options Found":{"description":"Shipping Options Found","value":{"status":true,"message":"Shipping calculated successfully","data":[{"sellerId":1001,"shippingMethods":[{"methodId":401,"methodName":"Standard Shipping","cost":10.0,"minDeliveryDays":3,"maxDeliveryDays":5,"carrier":"UPS","trackingAvailable":1},{"methodId":402,"methodName":"Express Shipping","cost":25.0,"minDeliveryDays":1,"maxDeliveryDays":2,"carrier":"FedEx","trackingAvailable":1}]},{"sellerId":1002,"shippingMethods":[{"methodId":403,"methodName":"Standard Shipping","cost":12.5,"minDeliveryDays":4,"maxDeliveryDays":6,"carrier":"DHL","trackingAvailable":1}]}],"errorCode":null,"error":null}},"No Shipping Options":{"description":"No Shipping Options","value":{"status":true,"message":"Shipping calculated successfully","data":[],"errorCode":null,"error":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.shop.read"}}},"/settings/save":{"post":{"tags":["Shop Settings"],"summary":"Save or Update Shop Settings","description":"Saves or updates shop settings. The request contains shop settings as JSON and optionally accepts a banner image file.","operationId":"saveSettings","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"type":"string"},"bannerFile":{"type":"string","format":"binary"}},"required":["request"]}}}},"responses":{"200":{"description":"Shop settings saved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Shop settings saved successfully","data":null,"errorCode":null,"error":null}}}}}},"400":{"description":"Invalid shop settings request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Missing Shop Owner ID":{"description":"Missing Shop Owner ID","value":{"status":false,"message":"shopOwnerId is required","data":null,"errorCode":null,"error":null}},"Bad Request":{"description":"Bad Request","value":{"status":false,"message":"Invalid shop settings request","data":null,"errorCode":"BAD_REQUEST","error":null}}}}}},"500":{"description":"Internal error while uploading the banner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Upload Error":{"description":"Upload Error","value":{"status":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","error":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/settings/review-request":{"post":{"tags":["Shop Settings"],"summary":"Request Shop Review","description":"Submits a request to review a shop. The request is validated before creating or updating the shop review request.","operationId":"requestReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopReviewRequest"}}},"required":true},"responses":{"200":{"description":"Shop review request processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Review Request Submitted":{"description":"Review Request Submitted","value":{"status":true,"message":"Shop review request submitted successfully","data":"Shop review request submitted successfully","errorCode":null,"error":null}},"Shop Settings Incomplete":{"description":"Shop Settings Incomplete","value":{"status":true,"message":"Please complete your shop settings before submitting a shop review request.","data":"Please complete your shop settings before submitting a shop review request.","errorCode":null,"error":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/reports/shop":{"post":{"tags":["Shop Reports"],"summary":"Report a Shop","description":"Creates a report against a shop using the specified reason and the user who submitted the report.","operationId":"reportShop","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportShopRequest"}}},"required":true},"responses":{"200":{"description":"Shop reported successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Shop Reported Successfully":{"description":"Shop Reported Successfully","value":{"status":true,"message":"Shop reported successfully","data":{"reportId":1001,"shopId":5001,"userId":2001,"reason":"Fraudulent activity","status":"PENDING","createdAt":"2026-09-14T10:30:00","reviewedAt":null,"admin_remarks":null},"errorCode":null,"error":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/reports/review/{reportId}":{"post":{"tags":["Shop Reports"],"summary":"Mark Shop Report as Reviewed","description":"Marks the specified shop report as reviewed.","operationId":"markReviewed","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Report marked as reviewed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Report Reviewed":{"description":"Report Reviewed","value":{"status":true,"message":"Report marked as reviewed","data":null,"errorCode":null,"error":null}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/products/{productId}/variants/combinations":{"post":{"tags":["Products"],"summary":"Create product variant","description":"Creates a new variant combination for the specified product.","operationId":"createVariant","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantRequest"}}},"required":true},"responses":{"200":{"description":"Product variant created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"Success","data":{"variantId":501,"productId":1001,"variantType":"Size","variantName":"M","variantSku":"TSHIRT-M","priceOverride":29.99,"stock":50}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/products/create":{"post":{"tags":["Products"],"summary":"Create a product","description":"Creates a new product using product information supplied as JSON in a multipart request. Optional product images can be uploaded along with the product.","operationId":"createProduct","parameters":[{"name":"request","in":"query","description":"Product details as a JSON string","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"},"example":{"shopOwnerId":3357,"productName":"Premium Cotton T-Shirt","description":"Comfortable premium cotton t-shirt.","price":29.99,"compareAtPrice":39.99,"inventoryType":"in_stock","quantity":100,"sku":"TSHIRT-001","productType":"physical","weight":0.5,"deliveryMethod":"manual","status":"public","profileId":101,"currency":"BUSD","variants":[{"variantType":"Size","variantName":"M","variantSku":"TSHIRT-M","priceOverride":29.99,"stock":50}],"imageUrls":[]}}}},{"name":"files","in":"query","description":"Optional product image files","required":false,"content":{"multipart/form-data":{"schema":{"type":"array","items":{"type":"string","format":"binary"}}}}}],"responses":{"200":{"description":"Product created successfully or business validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Product created successfully","data":1001}},"Validation Error":{"description":"Validation Error","value":{"success":false,"message":"Product name is required","errorCode":"INVALID_INPUT","data":null}},"Creation Failed":{"description":"Creation Failed","value":{"success":false,"message":"Product creation failed","errorCode":"CREATION_FAILED","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/product-reviews/products/reviews":{"post":{"tags":["Product Reviews"],"summary":"Create a product review","description":"Creates a review for a product with a rating and review text. Up to 5 optional JPG, PNG, or WEBP images can be uploaded with the review. Each image must be under 5MB.","operationId":"createReview","parameters":[{"name":"productId","in":"query","description":"Unique ID of the product being reviewed.","required":true,"schema":{"type":"integer","format":"int64"},"example":5001},{"name":"request","in":"query","description":"Review information as a JSON string. Rating must be between 1 and 5 and reviewText must not be blank.","required":true,"schema":{"type":"string"},"example":{"rating":5,"reviewText":"Excellent product. The quality is very good."}},{"name":"images","in":"query","description":"Optional review images. Maximum 5 images are allowed. Supported formats: JPG, PNG, WEBP. Each image must be under 5MB.","required":false,"content":{"multipart/form-data":{"schema":{"type":"array","items":{"type":"string","format":"binary"}}}}},{"name":"userId","in":"query","description":"Unique ID of the user submitting the review.","required":true,"schema":{"type":"integer","format":"int64"},"example":2001}],"responses":{"200":{"description":"Review request processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Review Created":{"description":"Review Created","value":{"success":true,"message":"Review submitted successfully","data":null}},"Product Not Found":{"description":"Product Not Found","value":{"success":false,"message":"Product not found","errorCode":"PRODUCT_NOT_FOUND","data":null}},"Duplicate Review":{"description":"Duplicate Review","value":{"success":false,"message":"You have already reviewed this product","errorCode":"DUPLICATE_REVIEW","data":null}},"Upload Failed":{"description":"Upload Failed","value":{"success":false,"message":"Image upload failed","errorCode":"UPLOAD_FAILED","data":null}},"Database Error":{"description":"Database Error","value":{"success":false,"message":"Failed to save review","errorCode":"DB_ERROR","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/orders/refund":{"post":{"tags":["Orders"],"summary":"Refund order payment","description":"Processes a payment refund for the specified shop owner, buyer, and order.","operationId":"refundPayment","parameters":[{"name":"shopOwnerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"buyerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Refund completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Refund Success":{"description":"Refund Success","value":{"status":true,"message":"Refund completed successfully","data":null}}}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/orders/create":{"post":{"tags":["Orders"],"summary":"Create an order","description":"Creates a new order using the supplied order request, including order items, shipping information, and currency.","operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderRequest"}}},"required":true},"responses":{"200":{"description":"Order created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Order created successfully","data":{"orderId":10001,"orderNumber":"ORD-09392EA2","buyerId":2001,"orderStatus":"PLACED","fulfillmentStatus":"PENDING","paymentStatus":"AUTHORIZED","totalAmount":125.5,"currency":"B$"}}}}}}},"500":{"description":"Internal server error while creating the order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"status":false,"message":"Unable to create order","errorCode":"INTERNAL_ERROR","data":null}}}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/orders/checkout":{"post":{"tags":["Orders"],"summary":"Checkout and create order from cart","description":"Creates an order using the buyer's current cart, shipping address, shipping method, and checkout information.","operationId":"checkout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderRequest"}}},"required":true},"responses":{"200":{"description":"Order created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Order created successfully","data":{"orderId":10001,"orderNumber":"ORD-09392EA2","buyerId":2001,"orderStatus":"PLACED","fulfillmentStatus":"PENDING","paymentStatus":"AUTHORIZED","totalAmount":125.5,"currency":"B$","shippingMethodId":10,"shippingMethodName":"Standard Shipping","shippingCost":5.5,"shippingCarrier":"DHL","estimatedDeliveryMin":3,"estimatedDeliveryMax":5}}}}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/media/update":{"post":{"tags":["Media Content Tagging"],"summary":"Update media product analytics","description":"Updates analytics for a product tagged to a media item. The supported action values are TAP, VIEW, and SALE.","operationId":"updateAnalytics","parameters":[{"name":"mediaId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"mediaType","in":"query","required":true,"schema":{"type":"string"}},{"name":"productId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"action","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Media product analytics updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Media product analytics updated successfully","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/media/tag/product":{"post":{"tags":["Media Content Tagging"],"summary":"Tag products to media","description":"Adds one or more products to a media item. At least one product ID must be provided in taggedProductIds.","operationId":"addProductTag","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContentProductTagRequest"}}},"required":true},"responses":{"200":{"description":"Product tagged successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Product tagged successfully","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/giftsBadges/thankGiftSender":{"post":{"tags":["Gifts & Badges"],"summary":"Thank gift sender","description":"Sends a thank-you message to the sender of a gift and updates the gift thank-you status. If isThanked is not provided or is blank, the service defaults it to Y. A notification is created for the gift sender when gift notifications are enabled.","operationId":"thankGiftSender","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"Thank-you message sent successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Thank-you message sent","description":"Success","value":{"status":true,"message":"Thank you sent","data":{"success":true,"message":"Thank you message sent successfully"}}}}}}},"400":{"description":"Failed to send thank-you message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"summary":"Thank-you request failed","description":"Bad Request","value":{"status":false,"message":"Gift transaction not found","data":{"success":false,"message":"Gift transaction not found"}}}}}}},"500":{"description":"Unexpected error while sending thank-you message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"summary":"Unexpected error","description":"Internal Server Error","value":{"status":false,"message":"Error: Unexpected error occurred","error":true,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/giftsBadges/supporter-thank":{"post":{"tags":["Gifts & Badges"],"summary":"Send thank notification to supporter","description":"Sends a thank-you notification from a creator to a supporter. The thank message is optional and defaults to an empty string when not provided.","operationId":"thankSupporter","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"Thank notification sent successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Thank notification sent","description":"Success","value":{"status":true,"message":"Thank notification sent","data":{"thankMessage":"Thank you so much for your support!"}}}}}}},"400":{"description":"Failed to send thank notification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Creator ID Missing":{"summary":"Creator ID is required","description":"Creator ID Missing","value":{"status":false,"message":"creatorId is required"}},"Supporter ID Missing":{"summary":"Supporter ID is required","description":"Supporter ID Missing","value":{"status":false,"message":"supporterId is required"}},"Notification Failed":{"summary":"Notification could not be sent","description":"Notification Failed","value":{"status":false,"message":"Failed to send thank notification: Notification service error"}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/giftsBadges/sendGift":{"post":{"tags":["Gifts & Badges"],"summary":"Send gift","description":"Sends one or more gifts from a sender to a receiver. The giftId field can contain multiple gift IDs. A notification is created for each gift when gift notifications are enabled for the receiver.","operationId":"sendGift","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Gift"}}},"required":true},"responses":{"200":{"description":"Gift sent successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Gift sent successfully","description":"Success","value":{"status":true,"message":"Gift sent successfully","data":{"success":true,"message":"All gifts sent successfully"}}}}}}},"400":{"description":"Failed to send gift","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"summary":"Gift sending failed","description":"Bad Request","value":{"status":false,"message":"Insufficient balance","data":{"success":false,"message":"Insufficient balance"}}}}}}},"500":{"description":"Unexpected error while sending gift","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"summary":"Unexpected error","description":"Internal Server Error","value":{"status":false,"message":"Error sending gifts: Unexpected error occurred","error":true,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/giftsBadges/saveGiftSettings":{"post":{"tags":["Gifts & Badges"],"summary":"Save gift settings","description":"Creates or updates gift settings for the user or creator. Returns the generated or updated setting ID when the operation is successful.","operationId":"saveGiftSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftSettings"}}},"required":true},"responses":{"200":{"description":"Gift settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Gift settings saved successfully","description":"Success","value":{"status":true,"message":"Settings updated","data":{"settingId":1001}}}}}}},"400":{"description":"Failed to update gift settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"summary":"Gift settings update failed","description":"Bad Request","value":{"status":false,"message":"Failed to update settings","data":null}}}}}},"500":{"description":"Unexpected error while saving gift settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"summary":"Unexpected error","description":"Internal Server Error","value":{"status":false,"message":"Error saving gift settings","error":true,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/giftsBadges/celebrateBadge":{"post":{"tags":["Gifts & Badges"],"summary":"Celebrate badge","description":"Sends a celebration message for a badge achievement and updates the badge celebration status. A notification is created for the supporter when gift notifications are enabled.","operationId":"celebrateBadge","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"Badge celebrated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Badge celebration successful","description":"Success","value":{"status":true,"message":"Badge celebrated!","data":{"success":true,"message":"Badge celebrated!"}}}}}}},"400":{"description":"Badge celebration failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"summary":"Badge celebration failed","description":"Bad Request","value":{"status":false,"message":"Badge availability record not found","data":{"success":false,"message":"Badge availability record not found"}}}}}}},"500":{"description":"Unexpected error while celebrating badge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"summary":"Unexpected error","description":"Internal Server Error","value":{"status":false,"message":"Error: Unexpected error occurred","error":true,"data":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/giftsBadges/assignBadge":{"post":{"tags":["Gifts & Badges"],"summary":"Assign badge to supporter","description":"Assigns a badge to a supporter for a specific creator. A supporter cannot downgrade to a lower-value badge. If the same badge has already been purchased, the API returns an informational response. A new badge purchase returns the assigned availability ID.","operationId":"assignBadge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignBadgeRequest"}}},"required":true},"responses":{"200":{"description":"Badge assignment processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"New Badge Assigned":{"summary":"Badge assigned successfully","description":"New Badge Assigned","value":{"status":true,"message":"Badge assigned successfully","data":{"success":true,"availId":5001,"message":"Badge assigned successfully"}}},"Higher Badge Already Owned":{"summary":"Downgrade is not allowed","description":"Higher Badge Already Owned","value":{"status":false,"message":"You already have a higher badge. Downgrading is not allowed."}},"Same Badge Already Owned":{"summary":"Badge already purchased","description":"Same Badge Already Owned","value":{"status":true,"message":"You already own this badge. You can upgrade to the next badge.","data":{"success":true,"availId":null,"message":"You already own this badge. You can upgrade to the next badge."}}}}}}},"400":{"description":"Required request fields are missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Validation Error":{"summary":"Required fields missing","description":"Validation Error","value":{"status":false,"message":"supporterUserId, creatorUserId and badgeId are required"}}}}}},"500":{"description":"Unexpected error while assigning badge","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"summary":"Badge assignment failed","description":"Internal Error","value":{"status":false,"message":"Error assigning badge","error":true}}}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/collections/{id}/products":{"post":{"tags":["Collections"],"summary":"Add products to collection","description":"Adds one or more products to the specified collection.\n\nThe request body contains a list of product IDs.\n","operationId":"addProducts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"Products added to the collection successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Products Added":{"summary":"Products successfully added","description":"Products Added","value":{"success":true,"message":"Products added to collection","data":101}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}},"delete":{"tags":["Collections"],"summary":"Remove products from collection","description":"Removes one or more products from the specified collection.\n\nThe request body contains a list of product IDs to be removed.\n","operationId":"removeProducts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"Products removed from the collection successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Products Removed":{"summary":"Products successfully removed","description":"Products Removed","value":{"success":true,"message":"Products removed from collection","data":101}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/collections/create":{"post":{"tags":["Collections"],"summary":"Create a collection","description":"Creates a new product collection for a shop owner.\n\nThe collection information must be provided as a JSON string in the\nrequest parameter named 'request'. Optional media files can be supplied\nusing the 'files' parameter.\n\nUploaded files are sent to the BitoHub file-upload service and the\nresulting media URLs are attached to the collection before it is saved.\n\nThe collection must contain a valid shopOwnerId and collection name.\n","operationId":"createCollection","parameters":[{"name":"request","in":"query","description":"Collection information provided as a JSON string.","required":true,"schema":{"type":"string"},"example":{"shopOwnerId":3357,"name":"Summer Collection","description":"Summer fashion products and accessories.","isVisible":true,"isActive":true,"productIds":[101,102,103]}},{"name":"files","in":"query","description":"Optional image/media files for the collection.","required":false,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"Collection created successfully or a business validation/upload error was returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Collection Created":{"summary":"Collection created successfully","description":"Collection Created","value":{"success":true,"message":"Collection created successfully","data":"collectionId: 101"}},"Invalid Input":{"summary":"Required collection information is missing","description":"Invalid Input","value":{"success":false,"message":"Shop owner ID and Collection Name are required","errorCode":"INVALID_INPUT"}},"Upload Error":{"summary":"Media upload service failed","description":"Upload Error","value":{"success":false,"message":"Upload service error","errorCode":"UPLOAD_ERROR"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/collab/creator/with-chat":{"post":{"tags":["Creator Collaboration"],"summary":"Get campaigns with chat","description":"Retrieves active and completed collaboration campaigns that have\nchat messages associated with the specified creator.\n\nThe request body contains the creator ID and pagination information.\nCampaigns are ordered by creation date in descending order.\n\nThe response contains the total number of campaigns returned,\ncampaign details, and operation status information.\n","operationId":"getCampaignsWithChat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandMessage"}}},"required":true},"responses":{"200":{"description":"Campaigns with chat retrieved successfully.","content":{"application/json":{"schema":{"type":"object"},"examples":{"Campaigns With Chat":{"summary":"Campaigns with chat messages retrieved successfully","description":"Campaigns With Chat","value":{"count":2,"campaigns":[{"CAMPAIGN_ID":501,"CAMPAIGN_NAME":"Summer Creator Campaign","DESCRIPTION":"Promotional campaign for summer products","START_DATE":"2026-09-01","END_DATE":"2026-09-30","CREATOR_REGION":"US","CREATOR_TYPE":"INFLUENCER","AUDIENCE_INTEREST":"Fashion","MIN_FOLLOWER_COUNT":10000,"AVG_ENGAGEMENT_RATE":"4.75","COMPENSATION_TYPE":"FIXED","PAYMENT_CURRENCY":"USD","TOTAL_BUDGET":50000.0,"KPI_TYPE":"POST_ENGAGEMENT","KPI_TARGET":"10000","ESCROW_ENABLED":1,"AUTO_PAYOUT_ENABLED":1,"RIGHTS":"SOCIAL_MEDIA","EXCLUSIVITY_DURATION_DAYS":30,"STATUS":"ACTIVE","BRAND_ID":201,"CREATED_AT":"2026-08-20T10:15:30","UPDATED_AT":"2026-08-25T12:20:00","PUBLISHED_AT":"2026-08-26T09:00:00"},{"CAMPAIGN_ID":502,"CAMPAIGN_NAME":"Fashion Promotion Campaign","DESCRIPTION":"Fashion product promotion","START_DATE":"2026-08-15","END_DATE":"2026-09-15","CREATOR_REGION":"US","CREATOR_TYPE":"CREATOR","AUDIENCE_INTEREST":"Lifestyle","MIN_FOLLOWER_COUNT":5000,"AVG_ENGAGEMENT_RATE":"5.20","COMPENSATION_TYPE":"FIXED","PAYMENT_CURRENCY":"USD","TOTAL_BUDGET":25000.0,"KPI_TYPE":"CONTENT_VIEWS","KPI_TARGET":"8000","ESCROW_ENABLED":1,"AUTO_PAYOUT_ENABLED":0,"RIGHTS":"SOCIAL_MEDIA","EXCLUSIVITY_DURATION_DAYS":15,"STATUS":"COMPLETED","BRAND_ID":202,"CREATED_AT":"2026-08-10T09:30:00","UPDATED_AT":"2026-09-15T18:00:00","PUBLISHED_AT":"2026-08-12T10:00:00"}],"errorData":0,"errorMsg":"Successful"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/collab/creator/send_offer":{"post":{"tags":["Creator Collaboration"],"summary":"Send campaign offer","description":"Sends a campaign offer to a creator based on the provided\nBrandCampaignOffer details.\n\nThe request contains campaign, creator, budget, KPI, offer status,\nand deliverable information. The response contains the resulting\ncampaign and offer information along with brand, creator, message,\nand escrow details.\n","operationId":"saveCampaignOffersTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/collab/creator/send_message":{"post":{"tags":["Creator Collaboration"],"operationId":"saveCreatorMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandMessage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/collab/creator/offers_timeline":{"post":{"tags":["Creator Collaboration"],"operationId":"getCampaignOffersTimeline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandRequestJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/collab/creator/offers":{"post":{"tags":["Creator Collaboration"],"summary":"Get collaboration offers for creator","description":"Retrieves collaboration campaign offers available to a creator.\n\nSupports filtering by campaign status, start date, end date, search term,\npagination, and creator ID.\n\nThe search term is provided in the request body as plain text.\nIf pagination values are not provided, the service defaults to page 1\nwith a page size of 10.\n","operationId":"getOffers","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"string"}},{"name":"creatorId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Collaboration offers retrieved successfully or a business/validation response was returned.","content":{"application/json":{"schema":{"type":"object"},"examples":{"Offers Found":{"summary":"Successful response with collaboration offers","description":"Offers Found","value":{"success":true,"message":"Campaing Details fetched successfully","data":[{"rn":1,"campaignId":101,"campaignName":"Summer Creator Campaign","description":"Promotional campaign for summer products","startDate":"2026-09-01","endDate":"2026-09-30","creatorRegion":"US","creatorType":"INFLUENCER","audienceInterest":"Fashion","minFollowerCount":10000,"avgEngagementRate":4.75,"compensationType":"FIXED","paymentCurrency":"USD","totalBudget":50000.0,"kpiType":"POST_ENGAGEMENT","kpiTarget":"10000","escrowEnabled":1,"autoPayoutEnabled":1,"rights":"SOCIAL_MEDIA","exclusivityDurationDays":30,"status":"PUBLISHED","brandId":501,"createdAt":"2026-08-20T10:15:30","updatedAt":"2026-08-25T12:20:00","publishedAt":"2026-08-26T09:00:00","flagReason":null,"adminRemarks":null,"campaignType":"SPONSORED","maxCreatorApplications":100,"budgetPerCreator":500.0,"noOfApplied":25}],"totalRecords":1}},"No Offers":{"summary":"No matching collaboration offers","description":"No Offers","value":{"success":true,"message":"Campaing Details fetched successfully","data":[],"totalRecords":0}},"Invalid Request":{"summary":"Invalid request parameter","description":"Invalid Request","value":{"success":false,"message":"Invalid request parameter","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/collab/creator/messages":{"post":{"tags":["Creator Collaboration"],"operationId":"getCreatorMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandMessage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/collab/creator/deal/{id}/upload":{"post":{"tags":["Creator Collaboration"],"summary":"Upload deliverable for a deal","description":"Uploads or updates a deliverable associated with a specific\ncollaboration deal.\n\nThe deal ID is passed as a path parameter and the deliverable\ninformation is provided as a JSON string in the request body.\n\nThe API returns HTTP 200 for both successful and failed upload\noperations. The success field indicates the actual operation result.\n","operationId":"uploadDeliverable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Deliverable upload operation completed.","content":{"application/json":{"schema":{"type":"object"},"examples":{"Upload Successful":{"summary":"Deliverable uploaded successfully","description":"Upload Successful","value":{"success":true,"message":"Deliverable uploaded successfully!"}},"Upload Failed":{"summary":"Deliverable upload failed","description":"Upload Failed","value":{"success":false,"message":"Failed to upload deliverable!"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/collab/creator/counter-offer":{"post":{"tags":["Creator Collaboration"],"summary":"Get brand offers for creator","description":"Retrieves all brand campaign offers associated with the specified creator.\n\nThe creator ID is passed as a path parameter. Each offer contains\ncampaign information, budget, KPI details, creator and brand information,\noffer status, and associated campaign deliverables.\n","operationId":"placeCounterOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"Brand offers retrieved successfully.","content":{"application/json":{"schema":{"type":"object"},"examples":{"Offers Found":{"summary":"Successful brand offers response","description":"Offers Found","value":"{\n  \"success\": true,\n  \"message\": \"offers Details fetched successfully\",\n  \"data\": [\n    {\n      \"offerId\": 101,\n      \"offerTimeLineId\": 1001,\n      \"campaignId\": 501,\n      \"startDate\": \"2026-09-01\",\n      \"endDate\": \"2026-09-30\",\n      \"totalBudget\": 5000.0,\n      \"kpiType\": \"POST_ENGAGEMENT\",\n      \"kpiTarget\": \"10000\",\n      \"brandId\": 201,\n      \"creatorId\": 1001,\n      \"deliverablesJson\": \"[{\"type\":\"POST\",\"quantity\":2}]\",\n      \"status\": \"PENDING\",\n      \"placedBy\": \"BRAND\",\n      \"createdAt\": \"2026-09-01T10:30:00\",\n      \"creatorName\": \"John Creator\",\n      \"brandName\": \"ABC Brand\",\n      \"campaignName\": \"Summer Campaign\",\n      \"deliverables\": [\n        {\n          \"deliverableId\": 1,\n          \"campaignId\": 501,\n          \"deliverableType\": \"POST\",\n          \"quantity\": 2,\n          \"pricePerUnit\": 500.0\n        },\n        {\n          \"deliverableId\": 2,\n          \"campaignId\": 501,\n          \"deliverableType\": \"STORY\",\n          \"quantity\": 3,\n          \"pricePerUnit\": 200.0\n        }\n      ]\n    }\n  ]\n}\n"}}}}},"400":{"description":"Invalid creator ID or business validation error.","content":{"application/json":{"schema":{"type":"object"},"examples":{"Invalid Creator":{"summary":"Creator validation error","description":"Invalid Creator","value":{"success":false,"message":"Creator not found","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/collab/creator/accept_offer":{"post":{"tags":["Creator Collaboration"],"operationId":"acceptOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/collab/creator/accept_campaign":{"post":{"tags":["Creator Collaboration"],"operationId":"acceptCampaign","parameters":[{"name":"invitationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/cart/{buyerId}/items":{"post":{"tags":["Cart"],"summary":"Add Items to Cart","description":"Adds one or more products or product variants to the buyer's shopping cart.","operationId":"addItemsToCart","parameters":[{"name":"buyerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cart"}}},"required":true},"responses":{"200":{"description":"Cart item request processed successfully. The response may contain added items or a validation message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Cart items added successfully","errorCode":null,"error":null,"data":[{"cartItemId":5001,"cartId":1001,"productId":3001,"variantId":4001,"shopOwnerId":6001,"quantity":2,"unitPrice":74.995,"totalPrice":149.99,"addedAt":"2026-09-04T10:15:30","updatedAt":"2026-09-04T10:15:30"}]}},"No Items":{"description":"No Items","value":{"status":false,"message":"No items found in request","errorCode":"INVALID_INPUT","error":null,"data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/cart/handlecart":{"post":{"tags":["Cart"],"summary":"Handle Cart Operation","description":"Performs a cart operation such as adding, updating, or removing a cart item based on the supplied operation.","operationId":"handleCartOperation","parameters":[{"name":"operation","in":"query","required":true,"schema":{"type":"string"}},{"name":"buyerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"variantId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"quantity","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"unitPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"currency","in":"query","required":false,"schema":{"type":"string","default":"USDB"}},{"name":"shopOwnerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Cart operation processed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"status":true,"message":"Cart operation completed successfully","errorCode":null,"error":null,"data":{"operation":"ADD","buyerId":2001,"productId":3001,"variantId":4001,"quantity":2,"unitPrice":74.995,"currency":"USDB","shopOwnerId":6001}}},"Operation Failed":{"description":"Operation Failed","value":{"status":false,"message":"Unable to process cart operation","errorCode":"OPERATION_FAILED","error":null,"data":null}}}}}},"400":{"description":"Invalid input supplied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Input":{"description":"Invalid Input","value":{"status":false,"message":"Invalid cart operation request","errorCode":"INVALID_INPUT","error":null,"data":null}}}}}},"500":{"description":"Internal server error while processing the cart operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"status":false,"message":"Internal server error","errorCode":"INTERNAL_SERVER_ERROR","error":null,"data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.shop.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.shop.write"}}},"/brand/update_offer_status":{"post":{"tags":["Brand"],"operationId":"updateOfferStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/update_campaign_status":{"post":{"tags":["Brand"],"operationId":"updateCampaignStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaign"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/update_campaign":{"post":{"tags":["Brand"],"operationId":"updateCampaign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaign"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/send_offer":{"post":{"tags":["Brand"],"operationId":"saveCampaignOffersTimeline_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/send_message":{"post":{"tags":["Brand"],"operationId":"saveBrandMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandMessage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/search_creator":{"post":{"tags":["Brand"],"operationId":"searchCreator","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCreator"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/brand/saveCampaignWithOffer":{"post":{"tags":["Brand"],"operationId":"saveCampaignWithOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveCampaignWithOfferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SaveCampaignWithOfferResponse"}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/brand/release_payment":{"post":{"tags":["Brand"],"operationId":"releasePayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandEscrow"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/brand/offers_timeline":{"post":{"tags":["Brand"],"operationId":"getCampaignOffersTimeline_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandRequestJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/brand/offers":{"post":{"tags":["Brand"],"operationId":"getCampaignOffers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandRequestJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/brand/messages":{"post":{"tags":["Brand"],"operationId":"getBrandMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandMessage"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.brand.read"}}},"/brand/initial_offer":{"post":{"tags":["Brand"],"operationId":"saveCampaignOffers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/create_campaign":{"post":{"tags":["Brand"],"operationId":"saveCampaign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaign"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/brand/add_to_campaign":{"post":{"tags":["Brand"],"operationId":"addToCampaign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandRequestJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.brand.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.brand.write"}}},"/brand/accept_offer":{"post":{"tags":["Brand"],"operationId":"acceptOffer_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandCampaignOffer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BrandResponse"}}}}},"x-bitocircle-auth":{"perm":"MONEY"}}},"/api/transactions":{"get":{"tags":["Transactions"],"summary":"Get All Transactions","description":"Retrieves all transaction records available in the system.","operationId":"getAllTransactions","responses":{"200":{"description":"Transactions retrieved successfully","content":{"application/json":{"schema":{"type":"object"},"examples":{"Transactions Retrieved":{"description":"Transactions Retrieved","value":{"success":true,"count":2,"data":[{"transactionId":10001,"creatorId":2001,"transactionType":"SALE","amount":250.0,"currency":"USD","status":"COMPLETED","paymentMethod":"CARD","walletAddress":"0x1234567890abcdef","txHash":"0xabcdef1234567890","referenceId":5001,"referenceType":"ORDER","description":"Payment for merchandise order","metadata":"{}","processedAt":"2026-09-14T18:00:00","createdAt":"2026-09-14T17:59:30"},{"transactionId":10002,"creatorId":2002,"transactionType":"REFUND","amount":50.0,"currency":"USD","status":"COMPLETED","paymentMethod":"WALLET","walletAddress":"0xabcdef1234567890","txHash":"0x9876543210abcdef","referenceId":5002,"referenceType":"REFUND","description":"Refund transaction","metadata":"{}","processedAt":"2026-09-14T18:10:00","createdAt":"2026-09-14T18:09:30"}]}}}}}},"500":{"description":"Internal server error while retrieving transactions","content":{"application/json":{"schema":{"type":"object"},"examples":{"I
[...]
