{"openapi":"3.1.0","info":{"title":"Paybito Bitohub Service API","description":"REST API documentation for Paybito Bitohub Service.","contact":{"name":"Paybito","email":"support@paybito.com"},"license":{"name":"Paybito License"},"version":"1.0.0"},"servers":[{"url":"https://institutional-bo.paybito.com:8443/BitohubService","description":"Production Server"},{"url":"http://localhost:8080/BitohubService","description":"Local Development Server"}],"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]}],"tags":[{"name":"App Store OAuth","description":"Authorize developer-portal apps and issue scoped tokens"},{"name":"Reels","description":"APIs for creating, retrieving, updating, deleting, searching, liking and bookmarking reels."},{"name":"Stories","description":"APIs for creating and managing user stories with image, video, and optional music media."},{"name":"User Management","description":"APIs for managing Bitohub users"},{"name":"Settings","description":"APIs for retrieving and managing user and page settings."},{"name":"LiveStream Management","description":"APIs for retrieving and managing LiveStream information"},{"name":"Comment Controller","description":"APIs for creating and managing comments"},{"name":"Posts","description":"APIs for creating, retrieving, updating, deleting, liking, sharing, bookmarking, and managing user posts."},{"name":"Polls","description":"APIs for creating, voting, retrieving, analyzing, and deleting polls."},{"name":"Channel Management","description":"APIs for creating and managing Bitohub channels"},{"name":"Messaging Management","description":"APIs for retrieving and managing user Messaging information"},{"name":"Trending","description":"APIs for retrieving trending topics, trending scores, analytics, engagement metrics, hashtag categorization, and trending insights."},{"name":"Profile","description":"APIs for managing user and page profile information, including profile picture updates."},{"name":"Report Management","description":"APIs for creating, managing, and retrieving account, post, and content reports."},{"name":"API Keys","description":"Create and manage API keys for single-account API access"},{"name":"Firebase Push Notification","description":"APIs for managing Firebase Cloud Messaging device tokens and push notifications"},{"name":"Feeds Management","description":"APIs for creating and managing Bitohub Feeds"},{"name":"Shares","description":"APIs for sharing, unsharing, retrieving, and tracking shared posts, reels, and polls."},{"name":"Community Domains","description":"Verify the domains of your white-label BitoCircle community"},{"name":"Activity Management","description":"APIs for retrieving and managing user activity information"}],"paths":{"/settings":{"get":{"tags":["Settings"],"summary":"Get User Settings","description":"Retrieves the settings associated with a user or page, including privacy settings, activity status, notification preferences, two-factor authentication status, tag settings, comment settings, sharing settings, and blocked users.","operationId":"getUserSettings","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Settings retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Settings Retrieved":{"description":"Settings Retrieved","value":{"success":true,"message":null,"data":{"userId":101,"email":"john.doe@example.com","username":"john_doe","privateAccount":false,"activityStatus":true,"pushNotifications":true,"emailNotifications":true,"twoFactorEnabled":true,"passwordLastChanged":"Last changed 2 months ago","tagSettings":{"allowTagsFrom":"EVERYONE","allowMentionsFrom":"FOLLOWERS"},"commentSettings":{"allowCommentsFrom":"EVERYONE","allowGifComments":true},"sharingSettings":{"allowStoriesSharing":true},"blockedUsers":[{"blockId":5001,"userId":101,"blockedUserId":102,"blockedUsername":"jane_doe","blockedName":"Jane Doe","blockNote":"Blocked user","blockedDate":"2026-08-20 14:30:00"}]},"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Error retrieving settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Server Error":{"description":"Server Error","value":{"success":false,"message":"Error retrieving settings: User not found","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}},"put":{"tags":["Settings"],"summary":"Update User Settings","description":"Updates the authenticated user's settings, including privacy, activity status, notification preferences, tag settings, comment settings, and story sharing preferences.","operationId":"updateSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSettingsRequest"}}},"required":true},"responses":{"200":{"description":"Settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Settings updated successfully","data":{"userId":101,"email":"john.doe@example.com","username":"john_doe","privateAccount":true,"activityStatus":false,"pushNotifications":true,"emailNotifications":false,"twoFactorEnabled":true,"passwordLastChanged":"Last changed 2 months ago","tagSettings":{"allowTagsFrom":"FOLLOWERS","allowMentionsFrom":"FOLLOWERS"},"commentSettings":{"allowCommentsFrom":"FOLLOWERS","allowGifComments":false},"sharingSettings":{"allowStoriesSharing":false},"blockedUsers":[],"errorCode":null,"totalRecords":null}}}}}}},"400":{"description":"Invalid settings request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"Invalid settings request","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while updating settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating settings: Unable to update settings","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/settings/privacy/accountAndActivity":{"put":{"tags":["Settings"],"summary":"Update Privacy and Activity Settings","description":"Updates the private account and activity status settings for a user or page. If userId is not provided, the user ID is retrieved from the authenticated HTTP session.","operationId":"togglePrivateAccount","parameters":[{"name":"privateAccount","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"activityStatus","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pageId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Privacy settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Privacy settings updated successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while updating privacy settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating privacy settings: Unable to update settings","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/reels/updateReelInfo":{"put":{"tags":["Reels"],"summary":"Update Reel Information","description":"Updates the information of an existing reel.\n\nRequired fields:\n- reelId: ID of the reel to update.\n- userId: ID of the user who owns the reel.\n\nOptional fields:\n- title\n- description\n- hashtags\n\nCover image:\n- A new cover image can be provided either as a file using the\n  'cover' parameter or as a URL using the 'coverUrl' parameter.\n- Do not provide both 'cover' and 'coverUrl' together.\n- If neither is provided, the existing cover image remains unchanged.\n\nAuthorization:\nThe userId provided in the request must match the owner of the reel.\nOtherwise, the request is rejected with HTTP 403.\n","operationId":"updateReelInfo","parameters":[{"name":"reel","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Reel"}},{"name":"coverUrl","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"cover":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Reel information updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Reel updated successfully","description":"Success","value":{"success":true,"message":"FeedsReel updated successfully","data":{"reelId":10001,"pageId":0,"campaignId":0,"userId":501,"adminUser":"admin501","title":"Updated Crypto Market Analysis","description":"Updated description of the reel","videoUrl":"https://cdn.example.com/reels/crypto-analysis.mp4","coverImage":"https://cdn.example.com/reels/new-cover.jpg","hashtags":"#crypto #bitcoin #trading","duration":45.5,"isActive":"Y","createdAt":"2026-09-01T10:15:30","updatedAt":"2026-09-08T13:30:00","visibilityType":1,"brandId":null,"username":"john_doe","fullName":"John Doe","profilePicture":"https://cdn.example.com/profile/john.jpg","likeCount":125,"commentCount":18,"shareCount":7,"hasLiked":"Y","hasBookmarked":"N","isSponsored":0,"callToAction":null,"callToActionUrl":null,"mediaHeadline":null,"websiteUrl":null}}}}}}},"400":{"description":"Invalid request. Required reelId or userId is missing, or invalid cover information was provided.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Missing Reel ID":{"summary":"reelId is required","description":"Missing Reel ID","value":{"success":false,"message":"Reel ID is required","data":null,"errorCode":"INVALID_INPUT"}},"Missing User ID":{"summary":"userId is required","description":"Missing User ID","value":{"success":false,"message":"User ID is required","data":null,"errorCode":"INVALID_INPUT"}},"Both Cover Sources":{"summary":"Cover file and cover URL should not be provided together","description":"Both Cover Sources","value":{"success":false,"message":"Please provide either cover file or cover URL, not both","data":null,"errorCode":"INVALID_INPUT"}}}}}},"403":{"description":"The user is not authorized to update this reel.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized User":{"description":"Unauthorized User","value":{"success":false,"message":"Not authorized to update this FeedsReel","data":null,"errorCode":"NOT_AUTHORIZED"}}}}}},"404":{"description":"The requested reel was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Reel Not Found":{"description":"Reel Not Found","value":{"success":false,"message":"FeedsReel not found","data":null,"errorCode":"REEL_NOT_FOUND"}}}}}},"500":{"description":"Unexpected internal server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/reels/updateReelCover":{"put":{"tags":["Reels"],"summary":"Update Reel Cover Image","description":"Updates the cover image of an existing reel.\n\nRequired fields:\n- reelId: ID of the reel whose cover image needs to be updated.\n- userId: ID of the user who owns the reel.\n- file: New cover image file.\n\nThe existing cover image, if available, is deleted before the\nnew cover image is uploaded.\n\nAuthorization:\nThe provided userId must match the owner of the reel.\nOtherwise, the request is rejected with HTTP 403.\n","operationId":"updateReelCover","parameters":[{"name":"reel","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Reel"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"Reel cover image updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"summary":"Cover image updated successfully","description":"Success","value":{"success":true,"message":"FeedsReel cover updated successfully","data":{"reelId":10001,"pageId":0,"campaignId":0,"userId":501,"adminUser":"admin501","title":"Crypto Market Analysis","description":"Latest cryptocurrency market analysis","videoUrl":"https://cdn.example.com/reels/crypto-analysis.mp4","coverImage":"https://cdn.example.com/reels/covers/reel-10001-new.jpg","hashtags":"#crypto #bitcoin #trading","duration":45.5,"isActive":"Y","createdAt":"2026-09-01T10:15:30","updatedAt":"2026-09-08T14:10:00","visibilityType":1,"brandId":null,"username":"john_doe","fullName":"John Doe","profilePicture":"https://cdn.example.com/profile/john.jpg","likeCount":125,"commentCount":18,"shareCount":7,"hasLiked":"Y","hasBookmarked":"N","isSponsored":0,"callToAction":null,"callToActionUrl":null,"mediaHeadline":null,"websiteUrl":null}}}}}}},"400":{"description":"Invalid request. Reel ID, user ID, or cover image file is missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Missing Reel ID":{"summary":"Reel ID is required","description":"Missing Reel ID","value":{"success":false,"message":"Reel ID is required","data":null,"errorCode":"INVALID_INPUT"}},"Missing User ID":{"summary":"User ID is required","description":"Missing User ID","value":{"success":false,"message":"User ID is required","data":null,"errorCode":"INVALID_INPUT"}},"Missing Cover File":{"summary":"Cover image file is required","description":"Missing Cover File","value":{"success":false,"message":"Cover image file is required","data":null,"errorCode":"INVALID_INPUT"}}}}}},"403":{"description":"The user is not authorized to update the reel cover image.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized User":{"summary":"User does not own the reel","description":"Unauthorized User","value":{"success":false,"message":"Not authorized to update this FeedsReel","data":null,"errorCode":"NOT_AUTHORIZED"}}}}}},"404":{"description":"The requested reel was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Reel Not Found":{"description":"Reel Not Found","value":{"success":false,"message":"FeedsReel not found","data":null,"errorCode":"REEL_NOT_FOUND"}}}}}},"500":{"description":"Unexpected internal server error while updating the reel cover.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR"}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/post/updateTags":{"put":{"tags":["Posts"],"summary":"Update Post Tags","description":"Updates the tagged users associated with a post. The requesting user must be the owner of the post. The API compares the existing tags with the requested tags and returns details about added, removed, and unchanged users.","operationId":"updatePostTags","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePostRequest"}}},"required":true},"responses":{"200":{"description":"Post tags updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Post tags updated successfully","data":{"updatedTags":[{"tagId":90001,"postId":10001,"taggedUserId":"502","taggedByUserId":"501","isActive":"Y","createdAt":"2026-09-08T10:30:00","taggedUsername":"jane_doe","taggedFullName":"Jane Doe","taggedProfilePicture":"https://example.com/profile/user-502.jpg"},{"tagId":90003,"postId":10001,"taggedUserId":"504","taggedByUserId":"501","isActive":"Y","createdAt":"2026-09-08T10:35:00","taggedUsername":"michael_lee","taggedFullName":"Michael Lee","taggedProfilePicture":"https://example.com/profile/user-504.jpg"}],"changeSummary":"Updated tags for post 10001: Added 1, Removed 1, Unchanged 1","addedCount":1,"removedCount":1,"unchangedCount":1},"errorCode":null,"totalRecords":2}}}}}},"400":{"description":"Post was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Post Not Found":{"description":"Post Not Found","value":{"success":false,"message":"Post not found","data":null,"errorCode":"POST_NOT_FOUND","totalRecords":0}}}}}},"403":{"description":"User is not authorized to update tags for the post","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Not Authorized":{"description":"Not Authorized","value":{"success":false,"message":"Not authorized to update tags","data":null,"errorCode":"NOT_AUTHORIZED","totalRecords":0}}}}}},"500":{"description":"Internal server error while updating post tags","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error: Database error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":0}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/notification/markAsRead":{"put":{"tags":["notification-controller"],"summary":"Mark Notification as Read","description":"Marks a specific notification as read using its notification ID.","operationId":"markAsRead","requestBody":{"description":"Notification containing the ID of the notification to mark as read.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Notification"},"examples":{"Mark As Read Request":{"description":"Mark As Read Request","value":{"notificationId":10001}}}}},"required":true},"responses":{"200":{"description":"Notification marked as read successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Notification marked as read","data":true,"errorCode":null,"totalRecords":null}}}}}},"404":{"description":"Notification not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Notification not found","data":null,"errorCode":"NOT_FOUND","totalRecords":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.notification.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.notification.write"}}},"/notification/markAllAsRead":{"put":{"tags":["notification-controller"],"summary":"Mark All Notifications as Read","description":"Marks all notifications belonging to the specified user as read.","operationId":"markAllAsRead","parameters":[{"name":"recipientUserId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"All notifications marked as read successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"All notifications marked as read","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid recipient user ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Invalid recipient user ID","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.notification.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.notification.write"}}},"/messaging/updateMessage/{messageId}":{"put":{"tags":["Messaging Management"],"summary":"Update Message","description":"Updates the text of an existing message. Only the original sender of the message is authorized to edit it, and the new message text cannot be empty.","operationId":"updateMessage","parameters":[{"name":"messageId","in":"path","description":"Unique ID of the message to be updated","required":true,"schema":{"type":"integer","format":"int64"},"example":5001}],"requestBody":{"description":"User ID and new text for the message","content":{"application/json":{"schema":{"type":"object","example":{"userId":"101","newText":"Updated message text"}}}},"required":true},"responses":{"200":{"description":"Message updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Message updated","data":{"messageId":5001,"conversationId":1001,"senderId":"101","receiverId":"102","messageText":"Updated message text","messageType":"TEXT","mediaUrl":null,"replyToMessageId":null,"isEdited":"Y","isDeleted":"N","createdAt":"2026-09-03T14:30:00","updatedAt":"2026-09-03T14:45:00","senderUsername":"user101","senderFullName":"Current User","senderProfilePicture":"https://example.com/user101.jpg","replyToMessage":null,"readBy":[],"readCount":0,"messageSentTime":"14:30","reactions":[],"paymentData":null},"errorCode":null,"totalRecords":1}}}}}},"400":{"description":"Invalid message ID, user ID, or message text","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Message text cannot be empty","data":null,"errorCode":"INVALID_INPUT","totalRecords":0}}}}}},"403":{"description":"User is not authorized to edit the message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Not Authorized":{"description":"Not Authorized","value":{"success":false,"message":"Not authorized to edit this message","data":null,"errorCode":"NOT_AUTHORIZED","totalRecords":0}}}}}},"404":{"description":"Message not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Message Not Found":{"description":"Message Not Found","value":{"success":false,"message":"Message not found","data":null,"errorCode":"MESSAGE_NOT_FOUND","totalRecords":0}}}}}},"500":{"description":"Internal server error while updating the message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Failed to update message","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":0}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.message.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.message.write"}}},"/messaging/conversations/{conversationId}/muteNotifications":{"put":{"tags":["Messaging Management"],"summary":"Mute or Unmute Conversation Notifications","description":"Mutes or unmutes notifications for a specific conversation for the specified user. The type parameter must be either MUTE or UNMUTE.","operationId":"muteUnmuteConversation","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Conversation notification status updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Mute Success":{"description":"Mute Success","value":{"success":true,"message":"Conversation muted successfully","data":null,"errorCode":null,"totalRecords":0}},"Unmute Success":{"description":"Unmute Success","value":{"success":true,"message":"Conversation unmuted successfully","data":null,"errorCode":null,"totalRecords":0}}}}}},"400":{"description":"Invalid conversation ID, user ID, or type","content":{"application/json":{"examples":{"Invalid Conversation ID":{"description":"Invalid Conversation ID","value":{"success":false,"message":"Invalid conversationId","data":null,"errorCode":"INVALID_INPUT","totalRecords":0}},"Invalid User ID":{"description":"Invalid User ID","value":{"success":false,"message":"Invalid userId","data":null,"errorCode":"INVALID_INPUT","totalRecords":0}},"Invalid Type":{"description":"Invalid Type","value":{"success":false,"message":"Invalid type. Must be either MUTE or UNMUTE","data":null,"errorCode":"INVALID_INPUT","totalRecords":0}}}}}},"404":{"description":"Conversation or user not found","content":{"application/json":{"examples":{"Not Found":{"description":"Not Found","value":{"success":false,"message":"Conversation or user not found","data":null,"errorCode":"NOT_FOUND","totalRecords":0}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"examples":{"Internal Error":{"description":"Internal Error","value":{"success":false,"message":"Failed to update mute status","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":0}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.message.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.message.write"}}},"/comments/updateComment":{"put":{"tags":["Comment Controller"],"summary":"Update Comment","description":"Updates an existing comment. Only the user who owns the comment can edit it.","operationId":"updateComment","requestBody":{"description":"Request containing the comment ID, new comment text, and user ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequest"},"examples":{"Update Comment Request":{"description":"Update Comment Request","value":{"userId":5002,"pageId":null,"contentOwnerId":null,"contentId":101,"commentId":1001,"contentType":"POST","parentCommentId":null,"commentText":"This is my updated comment.","gifUrl":null}}}}},"required":true},"responses":{"200":{"description":"Comment updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Comment updated successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Comment ID Required":{"description":"Comment ID Required","value":{"success":false,"message":"Comment ID is required","data":null,"errorCode":"COMMENT_ID_REQUIRED","totalRecords":null}},"Comment Text Empty":{"description":"Comment Text Empty","value":{"success":false,"message":"Comment text cannot be empty","data":null,"errorCode":"COMMENT_TEXT_EMPTY","totalRecords":null}},"User ID Required":{"description":"User ID Required","value":{"success":false,"message":"User ID is required","data":null,"errorCode":"USER_ID_REQUIRED","totalRecords":null}}}}}},"404":{"description":"Comment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Comment Not Found":{"description":"Comment Not Found","value":{"success":false,"message":"Comment not found","data":null,"errorCode":"COMMENT_NOT_FOUND","totalRecords":null}}}}}},"403":{"description":"User is not the owner of the comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Not Comment Owner":{"description":"Not Comment Owner","value":{"success":false,"message":"You can only edit your own comments","data":null,"errorCode":"NOT_COMMENT_OWNER","totalRecords":null}}}}}},"500":{"description":"Failed to update comment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Update Failed":{"description":"Update Failed","value":{"success":false,"message":"Failed to update comment","data":null,"errorCode":"COMMENT_UPDATE_FAILED","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.comment.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.comment.write"}}},"/channel/{channelId}":{"put":{"tags":["Channel Management"],"summary":"Update Channel","description":"Updates the details of an existing channel.\n\nAuthorization:\n- userId is mandatory and identifies the user performing the update.\n- Only the owner of the specified channel is authorized to update it.\n- If the user is not the channel owner, the request is rejected.\n\nUpdatable Fields:\n- channelName: Updated channel name.\n- channelDescription: Updated channel description.\n- channelImage: Updated channel image URL.\n\nThe channel ID identifies the channel to be updated.\n\nOn successful update, the updated channel details are returned.\n","operationId":"updateChannel","parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateChannelRequest"}}},"required":true},"responses":{"200":{"description":"Channel updated successfully","content":{"application/json":{"examples":{"Channel Updated":{"summary":"Channel details updated successfully","description":"Channel Updated","value":{"status":true,"message":"Channel updated successfully","data":{"channelId":101,"channelName":"Crypto Community Updated","channelDescription":"Official crypto discussion and market analysis channel","channelType":"PUBLIC","channelImage":"https://example.com/crypto-community-updated.jpg","ownerId":10025,"isActive":"Y","createdAt":"2026-08-20T10:30:00","updatedAt":"2026-09-01T14:10:00","ownerUsername":"john.doe","ownerFullName":"John Doe","ownerProfilePicture":"https://example.com/profile.jpg","subscriberCount":1250,"messageCount":350,"isSubscribed":"Y","isOwner":"Y","isAdmin":"Y","settings":null,"latestMessage":null}}}}}}},"400":{"description":"Invalid request parameters or channel data","content":{"application/json":{"examples":{"Invalid Request":{"summary":"Invalid or missing request data","description":"Invalid Request","value":{"status":false,"message":"Invalid request parameters","code":"BAD_REQUEST","data":null}}}}}},"401":{"description":"Unauthorized request","content":{"application/json":{"examples":{"Unauthorized":{"summary":"Authentication failed","description":"Unauthorized","value":{"status":false,"message":"Unauthorized access.","code":"UNAUTHORIZED","data":null}}}}}},"403":{"description":"User is not authorized to update this channel","content":{"application/json":{"examples":{"Not Channel Owner":{"summary":"User does not own the channel","description":"Not Channel Owner","value":{"status":false,"message":"Not authorized to update this channel","code":"NOT_AUTHORIZED","data":null}}}}}},"404":{"description":"Channel not found","content":{"application/json":{"examples":{"Channel Not Found":{"summary":"Requested channel does not exist","description":"Channel Not Found","value":{"status":false,"message":"Channel not found","code":"NOT_FOUND","data":null}}}}}},"500":{"description":"Internal server error while updating the channel","content":{"application/json":{"examples":{"Server Error":{"summary":"Unexpected error while updating channel","description":"Server Error","value":{"status":false,"message":"Failed to update channel: Unexpected error","code":"INTERNAL_ERROR","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.channel.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.channel.write"}}},"/channel/message/{messageId}":{"put":{"tags":["Channel Management"],"summary":"Update Channel Message","description":"Updates the text content of an existing channel message. Only the original sender of the message is authorized to edit it.","operationId":"updateChannelMessage","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newText","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Message updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Message updated","data":{"channelMessageId":1001,"channelId":101,"senderId":"5001","messageText":"This is the updated message.","messageType":"TEXT","mediaUrl":null,"isPinned":"N","isEdited":"Y","isDeleted":"N","createdAt":"2026-09-01T10:30:00","updatedAt":"2026-09-01T13:45:00","senderUsername":"john_doe","senderFullName":"John Doe","senderProfilePicture":"https://example.com/profile.jpg","reactionCount":5,"commentCount":2,"reactions":null,"comments":null},"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Input":{"description":"Invalid Input","value":{"success":false,"message":"Message text cannot be empty","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"404":{"description":"Message not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Message Not Found":{"description":"Message Not Found","value":{"success":false,"message":"Message not found","data":null,"errorCode":"MESSAGE_NOT_FOUND","totalRecords":null}}}}}},"403":{"description":"User is not authorized to edit this message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Not Authorized":{"description":"Not Authorized","value":{"success":false,"message":"Not authorized to edit this message","data":null,"errorCode":"NOT_AUTHORIZED","totalRecords":null}}}}}},"500":{"description":"Failed to update channel message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Failed to update message","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.channel.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.channel.write"}},"delete":{"tags":["Channel Management"],"summary":"Delete channel message","description":"Deletes a channel message. The message can be deleted by either the message sender or the channel owner.","operationId":"deleteChannelMessage","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Message deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"example":{"success":true,"message":"Message deleted successfully","data":true}}}},"404":{"description":"Message not found","content":{"application/json":{"example":{"success":false,"message":"Message not found","errorCode":"MESSAGE_NOT_FOUND"}}}},"403":{"description":"User is not authorized to delete this message","content":{"application/json":{"example":{"success":false,"message":"Not authorized to delete this message","errorCode":"NOT_AUTHORIZED"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"success":false,"message":"Failed to delete message","errorCode":"INTERNAL_ERROR"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.channel.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.channel.write"}}},"/apikeys/{apiKey}/whitelist":{"put":{"tags":["API Keys"],"summary":"Replace a key's IP and domain whitelists","operationId":"updateWhitelist","parameters":[{"name":"apiKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhitelistRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/users/validateBitocircleUserInfo":{"post":{"tags":["User Management"],"summary":"Validate Bitocircle User Information","description":"Validates whether a Bitocircle user can be identified\nusing the provided email address or username.\n\nExactly one of the following fields must be provided:\n\n1. email\n2. username\n\nThe following combinations are invalid:\n\n- Both email and username provided.\n- Neither email nor username provided.\n\nIf the validation is successful, the API returns a\nsuccess response. Otherwise, an error response is returned.\n","operationId":"validateBitocircleUserInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"User information validated successfully","content":{"application/json":{"examples":{"Valid Email":{"summary":"Validation using email","description":"Valid Email","value":{"status":true,"message":"User info validated successfully."}},"Valid Username":{"summary":"Validation using username","description":"Valid Username","value":{"status":true,"message":"User info validated successfully."}},"User Information Invalid":{"summary":"User information validation failed","description":"User Information Invalid","value":{"status":false,"message":"User already exists."}}}}}},"400":{"description":"Invalid request. Either email or username must be provided, but not both.","content":{"application/json":{"examples":{"Both Fields Missing":{"summary":"Neither email nor username provided","description":"Both Fields Missing","value":{"status":false,"message":"Please provide either email or username.","code":"MANDATORY_FIELD_MISSING"}},"Both Fields Provided":{"summary":"Both email and username provided","description":"Both Fields Provided","value":{"status":false,"message":"Please provide either email or username.","code":"MANDATORY_FIELD_MISSING"}}}}}},"401":{"description":"Unauthorized request","content":{"application/json":{"examples":{"Unauthorized":{"summary":"Authentication failed","description":"Unauthorized","value":{"status":false,"message":"Unauthorized access."}}}}}},"403":{"description":"Access denied","content":{"application/json":{"examples":{"Forbidden":{"summary":"User does not have permission","description":"Forbidden","value":{"status":false,"message":"Access denied."}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"examples":{"Server Error":{"summary":"Unexpected server error","description":"Server Error","value":{"status":false,"message":"Error validating user info: Internal server error."}}}}}}},"security":[],"x-bitocircle-auth":{"perm":"PUBLIC","scope":"bitocircle.profile.read"}}},"/users/registerBitohubUserToExchange":{"post":{"tags":["User Management"],"summary":"Register Bitohub User to Exchange","description":"Registers a Bitohub user with the exchange.\n\nRequired field:\n- adminUser: UUID of the admin user.\n\nOptional fields:\n- latitude: User's latitude.\n- longitude: User's longitude.\n\nThe API returns exchange user details when registration\nis successful.\n","operationId":"registerBitohubUserToExchange","requestBody":{"description":"Bitohub user registration request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"Request processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"examples":{"Registration Successful":{"summary":"User successfully registered","description":"Registration Successful","value":{"status":true,"message":"User registered to exchange successfully.","data":{"exchangeUserId":10025,"exchangeUserUuid":"7b6d2c8e-2c1a-4c8e-9b1d-123456789abc","exchangeUserCountry":"IN","exchangeUserBrokerId":"BROKER001","checkMappingStatus":1}}},"Registration Failed":{"summary":"Exchange registration failed","description":"Registration Failed","value":{"status":false,"message":"Failed to register user to exchange: User mapping failed.","data":null}},"Mapping Pending":{"summary":"User registered but mapping is pending","description":"Mapping Pending","value":{"status":true,"message":"User registered to exchange successfully.","data":{"exchangeUserId":10025,"exchangeUserUuid":"7b6d2c8e-2c1a-4c8e-9b1d-123456789abc","exchangeUserCountry":"IN","exchangeUserBrokerId":"BROKER001","checkMappingStatus":0}}}}}}},"400":{"description":"Invalid request. Admin user UUID is required.","content":{"application/json":{"examples":{"Missing Admin User":{"summary":"Admin user UUID is missing","description":"Missing Admin User","value":{"status":false,"message":"Admin user uuid is required.","data":null}}}}}},"401":{"description":"Unauthorized request","content":{"application/json":{"examples":{"Unauthorized":{"summary":"Authentication failed","description":"Unauthorized","value":{"status":false,"message":"Unauthorized access.","data":null}}}}}},"403":{"description":"Access denied","content":{"application/json":{"examples":{"Forbidden":{"summary":"User does not have permission","description":"Forbidden","value":{"status":false,"message":"Access denied.","data":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"examples":{"Server Error":{"summary":"Unexpected server error","description":"Server Error","value":{"status":false,"message":"Error registering user to exchange: Internal server error.","data":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/users/getBitohubUserExchangeInfo":{"post":{"tags":["User Management"],"summary":"Get Bitohub User Exchange Information","description":"Fetches the exchange user information associated\nwith the provided admin user UUID.\n\nRequired request field:\n- adminUser: UUID of the admin user.\n\nThe API returns exchange user information including\nuser ID, UUID, country, broker ID, user tier type,\nand bank details status.\n","operationId":"getBitohubUserExchangeInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"Request processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"examples":{"Exchange User Found":{"summary":"Exchange user information found","description":"Exchange User Found","value":{"status":true,"message":"Fetch exchange user successfully.","data":{"userId":10025,"uuid":"7b6d2c8e-2c1a-4c8e-9b1d-123456789abc","country":"IN","brokerId":"BROKER001","userTierType":1,"bankDetailsStatus":1}}},"No Data Found":{"summary":"No exchange user information found","description":"No Data Found","value":{"status":true,"message":"No data found.","data":null}}}}}},"400":{"description":"Invalid request. Admin user UUID is required.","content":{"application/json":{"examples":{"Missing Admin User":{"summary":"Admin user UUID is missing","description":"Missing Admin User","value":{"status":false,"message":"Admin user uuid is required.","data":null}}}}}},"401":{"description":"Unauthorized request","content":{"application/json":{"examples":{"Unauthorized":{"summary":"Authentication failed","description":"Unauthorized","value":{"status":false,"message":"Unauthorized access.","data":null}}}}}},"403":{"description":"Access denied","content":{"application/json":{"examples":{"Forbidden":{"summary":"Access denied","description":"Forbidden","value":{"status":false,"message":"Access denied.","data":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"examples":{"Server Error":{"summary":"Unexpected server error","description":"Server Error","value":{"status":false,"message":"Error to fetch Bitohub user exchange info: Internal server error.","data":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.profile.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.profile.read"}}},"/trending/topic":{"post":{"tags":["Trending"],"summary":"Create or Update Trending Topic","description":"Creates a new trending topic or updates an existing topic based on the provided hashtag. The topic is categorized using the supplied category.","operationId":"createOrUpdateTopic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopicRequest"}}},"required":true},"responses":{"201":{"description":"Trending topic created or updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Topic created/updated successfully","data":{"topicId":1001,"mentions":12500,"hashtag":"#technology","category":"TECHNOLOGY","createdDate":"2026-09-01T10:30:00","updatedDate":"2026-09-07T14:30:00","active":true},"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid topic request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Hashtag and category are required","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"500":{"description":"Internal server error while creating or updating the topic","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error creating/updating topic: Database error","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/trending/recategorize":{"post":{"tags":["Trending"],"operationId":"recategorizeAllTopics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/trending/metrics":{"post":{"tags":["Trending"],"summary":"Save Engagement Metrics","description":"Saves engagement metrics for a trending topic, including mentions, likes, comments, saves, shares, and followers. The engagement rate is calculated based on the total engagement relative to the number of followers.","operationId":"saveEngagementMetrics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricsRequest"}}},"required":true},"responses":{"201":{"description":"Engagement metrics saved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Engagement metrics saved successfully","data":{"metricId":5001,"topicId":1001,"mentions":12500,"likes":45000,"comments":8200,"saves":6100,"shares":9300,"followers":250000,"engagementRate":0.2744,"recordedDate":"2026-09-07T14:30:00"},"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid engagement metrics request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Invalid metrics request","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"500":{"description":"Internal server error while saving engagement metrics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error saving metrics: Database error","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/trending/getTrendingScoreByHashtag":{"post":{"tags":["Trending"],"summary":"Get Trending Score by Hashtag","description":"Retrieves the latest trending score and analytics information for a specific hashtag. The hashtag is used to find the corresponding trending topic and its latest calculated score.","operationId":"getTrendingScoreByHashtag","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrendingScoreRequest"}}},"required":true},"responses":{"200":{"description":"Trending score retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Trending score retrieved successfully","data":{"topicId":1001,"mentions":12500,"hashtag":"#technology","trendScore":87.65,"maxTrendScore":100.0,"trendPercentage":87.65,"calculationMethod":"ROLLING_30_DAYS","calculatedDate":"2026-09-07T12:30:00"},"errorCode":null,"totalRecords":null}}}}}},"404":{"description":"Trending topic not found for the specified hashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Topic Not Found":{"description":"Topic Not Found","value":{"success":false,"message":"Topic not found: #technology","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while retrieving trending score","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error retrieving trending score: Database error","data":null,"errorCode":null,"totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.feed.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.feed.read"}}},"/trending/getPostDetailsByHashtag":{"post":{"tags":["Trending"],"summary":"Get Post Details by Hashtag","description":"Retrieves trending post details associated with the specified hashtag using pagination. The page number starts from 1 and the default page size is 50.","operationId":"getPostDetailsByHashtag","parameters":[{"name":"hashtag","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"Posts retrieved successfully or no posts found for the given hashtag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Posts Found":{"description":"Posts Found","value":{"success":true,"message":"Posts retrieved successfully","data":[{"topicId":1001,"mentions":12500,"hashtag":"#technology","trendScore":98.75,"maxTrendScore":100.0,"trendPercentage":98.75,"calculationMethod":"CURRENT_TOP","calculatedDate":"2026-09-07T14:30:00"},{"topicId":1002,"mentions":10200,"hashtag":"#technology","trendScore":94.5,"maxTrendScore":100.0,"trendPercentage":94.5,"calculationMethod":"ROLLING_30_DAYS","calculatedDate":"2026-09-07T14:25:00"}],"errorCode":null,"totalRecords":2}},"No Posts Found":{"description":"No Posts Found","value":{"success":true,"message":"No posts found for the given hashtag","data":[],"errorCode":null,"totalRecords":0}}}}}},"400":{"description":"Hashtag is empty or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Hashtag":{"description":"Invalid Hashtag","value":{"success":false,"message":"Hashtag must not be empty","data":null,"errorCode":"INVALID_HASHTAG","totalRecords":null}}}}}},"500":{"description":"Internal server error while retrieving posts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error retrieving posts: Database error","data":null,"errorCode":null,"totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.feed.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.feed.read"}}},"/trending/categorize/batch":{"post":{"tags":["Trending"],"operationId":"categorizeBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCategorizeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/trending/calculate/trigger":{"post":{"tags":["Trending"],"summary":"Trigger Trending Score Calculation","description":"Triggers the calculation of trending scores for all applicable trending topics. The response indicates how many topics were processed successfully.","operationId":"triggerTrendingCalculation","responses":{"200":{"description":"Trending scores calculated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Trending scores calculated successfully","data":"Calculated scores for 25 topics","errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while calculating trending scores","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error calculating trending scores: Database error","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/trending/calculate/priority":{"post":{"tags":["Trending"],"operationId":"calculateWithPriority","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}},"x-bitocircle-auth":{"perm":"ADMIN"}}},"/tracking/event":{"post":{"tags":["content-tracking-controller"],"operationId":"trackEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentViewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/stories/{storyId}/reaction":{"post":{"tags":["Stories"],"summary":"React to Story","description":"Adds or updates a reaction for a specific story. The storyId is provided in the URL path. If storyId is not provided in the request body, the path storyId is automatically assigned. If both values are provided, they must match.","operationId":"reactToStory","parameters":[{"name":"storyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryReactionRequest"}}},"required":true},"responses":{"200":{"description":"Story reaction processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Reaction Added":{"description":"Reaction Added","value":{"success":true,"message":"Story reaction added successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request or storyId mismatch","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Story ID Mismatch":{"description":"Story ID Mismatch","value":{"success":false,"message":"storyId mismatch","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}},"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Invalid reaction request","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"404":{"description":"Story not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Story Not Found":{"description":"Story Not Found","value":{"success":false,"message":"Story not found","data":null,"errorCode":"STORY_NOT_FOUND","totalRecords":null}}}}}},"500":{"description":"Internal server error while processing story reaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.story.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.story.write"}}},"/stories/visibility":{"post":{"tags":["Stories"],"summary":"Set Story Visibility","description":"Hides or unhides stories from a specific user. Use HIDE to prevent the specified user from viewing stories, or UNHIDE to allow the user to view stories again.","operationId":"setStoryVisibility","requestBody":{"description":"Request containing the user ID, hidden user ID, and visibility action.","content":{"application/json":{"schema":{"type":"object","example":{"userId":"501","hiddenUserId":"502","action":"HIDE"}}}},"required":true},"responses":{"200":{"description":"Story visibility updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Visibility Updated":{"description":"Visibility Updated","value":{"success":true,"message":"Story visibility updated successfully","data":{"success":true,"message":"Story visibility updated successfully","returnId":1},"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request or visibility action","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Missing User ID":{"description":"Missing User ID","value":{"success":false,"message":"userId is required","data":null,"errorCode":null,"totalRecords":null}},"Missing Hidden User ID":{"description":"Missing Hidden User ID","value":{"success":false,"message":"hiddenUserId is required","data":null,"errorCode":null,"totalRecords":null}},"Invalid Action":{"description":"Invalid Action","value":{"success":false,"message":"Invalid action. Allowed: HIDE / UNHIDE","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while updating story visibility","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.story.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.story.write"}}},"/stories/view":{"post":{"tags":["Stories"],"summary":"View Story","description":"Records a user's view of a specific story. The request requires a valid story ID, viewer user ID, and device type.","operationId":"viewStory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewStoryRequest"}}},"required":true},"responses":{"200":{"description":"Story viewed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Story Viewed":{"description":"Story Viewed","value":{"success":true,"message":"Story viewed successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid or missing request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Request Body Missing":{"description":"Request Body Missing","value":{"success":false,"message":"Request body is required","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}},"Invalid Story ID":{"description":"Invalid Story ID","value":{"success":false,"message":"Invalid storyId","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}},"Invalid Viewer ID":{"description":"Invalid Viewer ID","value":{"success":false,"message":"Invalid viewerUserId","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}},"Missing Device Type":{"description":"Missing Device Type","value":{"success":false,"message":"Device type is required","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"404":{"description":"Story not found or cannot be viewed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Story Not Found":{"description":"Story Not Found","value":{"success":false,"message":"Story not found","data":null,"errorCode":"STORY_NOT_FOUND","totalRecords":null}}}}}},"500":{"description":"Internal server error while recording story view","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.story.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.story.write"}}},"/stories/create":{"post":{"tags":["Stories"],"summary":"Create Stories","description":"Creates one or more stories using uploaded media files. Each media file creates a separate story. The media type is automatically detected as VIDEO when the uploaded file has a video content type; otherwise it is treated as IMAGE. An optional music file can be uploaded and reused for all stories created in the request.","operationId":"createStory","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CreateStoryRequest"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"media":{"type":"array","items":{"type":"string","format":"binary"}},"music":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Stories created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Stories Created":{"description":"Stories Created","value":{"success":true,"message":"Stories created successfully","data":{"stories":[{"storyId":10001,"storyType":"IMAGE","content":"My new story","duration":5,"privacyLevel":"PUBLIC","userId":501,"visibilityType":"ALL","mediaType":"IMAGE","mediaUrl":"https://cdn.example.com/stories/image-10001.jpg"},{"storyId":10002,"storyType":"VIDEO","content":"Weekend video","duration":15,"privacyLevel":"PUBLIC","userId":501,"visibilityType":"ALL","mediaType":"VIDEO","mediaUrl":"https://cdn.example.com/stories/video-10002.mp4"}]},"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request or required media is missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Missing User ID":{"description":"Missing User ID","value":{"success":false,"message":"userId is required","data":null,"errorCode":"MISSING_USERID","totalRecords":null}},"Missing Admin User":{"description":"Missing Admin User","value":{"success":false,"message":"adminUser is required","data":null,"errorCode":"MISSING_ADMINUSER","totalRecords":null}},"Missing Media":{"description":"Missing Media","value":{"success":false,"message":"Media file not provided. Ensure form field name is 'media'.","data":null,"errorCode":"MISSING_MEDIA","totalRecords":null}},"Empty Media":{"description":"Empty Media","value":{"success":false,"message":"Uploaded media is empty","data":null,"errorCode":"EMPTY_MEDIA","totalRecords":null}}}}}},"500":{"description":"Failed to create stories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Creation Failed":{"description":"Creation Failed","value":{"success":false,"message":"Failed to create story","data":null,"errorCode":"CREATION_FAILED","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.story.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.story.write"}}},"/share/sharePost":{"post":{"tags":["Shares"],"summary":"Share Post","description":"Shares a post. This endpoint uses the same sharing logic as the general shareContent endpoint and accepts POST as the content type.","operationId":"sharePost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareRequest"}}},"required":true},"responses":{"200":{"description":"Post shared successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Content shared successfully","data":true,"errorCode":null,"totalRecords":1}}}}}},"400":{"description":"Invalid request or post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Post Not Found":{"description":"Post Not Found","value":{"success":false,"message":"Content not found","data":null,"errorCode":"POST_NOT_FOUND","totalRecords":0}}}}}},"500":{"description":"Internal server error while sharing content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error: Database error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":0}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/share/shareContent":{"post":{"tags":["Shares"],"summary":"Share Content","description":"Shares a post, reel, or poll on behalf of a user. Supported content types are POST, REEL, and POLL. The share type can be DIRECT, STORY, or MESSAGE.","operationId":"shareContent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareRequest"}}},"required":true},"responses":{"200":{"description":"Content shared successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Content shared successfully","data":true,"errorCode":null,"totalRecords":1}}}}}},"400":{"description":"Invalid request, content type, page ID, or content not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Content Type":{"description":"Invalid Content Type","value":{"success":false,"message":"Invalid content type. Allowed: POST, REEL, POLL","data":null,"errorCode":"INVALID_CONTENT_TYPE","totalRecords":0}}}}}},"500":{"description":"Internal server error while sharing content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error: Database error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":0}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/share/getContentShares":{"post":{"tags":["Shares"],"summary":"Get Content Shares","description":"Retrieves the list of users/shares associated with a specific post, reel, or poll. Results are returned using pagination.","operationId":"getContentShares","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareRequest"}}},"required":true},"responses":{"200":{"description":"Content shares loaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Content shares loaded","data":{"content":[{"shareId":70001,"userId":501,"pageId":0,"contentType":"POST","contentId":10001,"shareMessage":"Check this out!","shareType":"DIRECT","isActive":"Y","createdAt":"2026-09-08T10:30:00","updatedAt":"2026-09-08T10:30:00","username":"john_doe","fullName":"John Doe","profilePicture":"https://example.com/profile/user-501.jpg","originalAuthorId":"502","originalAuthorName":"Jane Doe","originalAuthorUsername":"jane_doe"}],"pageNumber":0,"pageSize":20,"totalElements":1,"totalPages":1,"hasNext":false,"hasPrevious":false},"errorCode":null,"totalRecords":1}}}}}},"400":{"description":"Invalid content type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Content Type":{"description":"Invalid Content Type","value":{"success":false,"message":"Invalid content type","data":null,"errorCode":"INVALID_CONTENT_TYPE","totalRecords":0}}}}}},"500":{"description":"Internal server error while sharing content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Internal server error: Database error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":0}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.read"]}],"x-bitocircle-auth":{"perm":"READ","scope":"bitocircle.post.read"}}},"/settings/updateTagMentionSettings":{"post":{"tags":["Settings"],"summary":"Update Tag and Mention Settings","description":"Updates the user's preferences for who can tag or mention them. Supported values are EVERYONE, PEOPLEYOUFOLLOW, and NOONE.","operationId":"updateTagMentionSettings","requestBody":{"description":"Tag and mention preferences for the user","content":{"application/json":{"schema":{"type":"object","example":{"userId":"101","allowTagsFrom":"EVERYONE","allowMentionsFrom":"PEOPLEYOUFOLLOW"}},"examples":{"Update Tag and Mention Settings":{"description":"Update Tag and Mention Settings","value":{"userId":"101","allowTagsFrom":"EVERYONE","allowMentionsFrom":"PEOPLEYOUFOLLOW"}}}}},"required":true},"responses":{"200":{"description":"Tag and mention settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Tag and mention settings updated successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid or missing input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Input":{"description":"Invalid Input","value":{"success":false,"message":"userId, allowTagsFrom and allowMentionsFrom are required","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/settings/sharing":{"post":{"tags":["Settings"],"summary":"Update Sharing Settings","description":"Updates the user's story sharing preference, allowing or preventing other users from sharing the user's content to stories.","operationId":"updateSharingSettings","requestBody":{"description":"Sharing preference for the authenticated user","content":{"application/json":{"schema":{"type":"object","example":{"userId":"101","allowStoriesSharing":"true"}},"examples":{"Update Sharing Settings":{"description":"Update Sharing Settings","value":{"userId":"101","allowStoriesSharing":"true"}}}}},"required":true},"responses":{"200":{"description":"Sharing settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Sharing settings updated successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid or missing input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"userId and allowStoriesSharing are required","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":"UNAUTHORIZED","totalRecords":null}}}}}},"500":{"description":"Internal server error while updating sharing settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"success":false,"message":"Error updating settings: Unable to update sharing settings","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/settings/notifications":{"post":{"tags":["Settings"],"summary":"Update Notification Settings","description":"Updates a notification preference for a user. The notification type and enabled status are provided in the request body.","operationId":"updateNotificationSettings","requestBody":{"description":"Notification settings to update. The userId must be supplied as a string because the controller accepts Map<String, String>.","content":{"application/json":{"schema":{"type":"object","example":{"userId":"101","type":"PUSH","enabled":"true"}},"examples":{"Update Notification Request":{"description":"Update Notification Request","value":{"userId":"101","type":"PUSH","enabled":"true"}}}}},"required":true},"responses":{"200":{"description":"Notification settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Notification settings updated successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Missing or invalid input, or notification settings could not be updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"Missing or invalid input: type and enabled are required","data":null,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":"UNAUTHORIZED","totalRecords":null}}}}}},"500":{"description":"Internal server error while updating notification settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating notifications: Unable to update notification settings","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/settings/notifications/push":{"post":{"tags":["Settings"],"summary":"Toggle Push Notifications","description":"Enables or disables push notifications for the authenticated user.","operationId":"togglePushNotifications","parameters":[{"name":"enabled","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Push notification setting updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Push notifications updated","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"Invalid value for enabled","data":null,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while updating push notifications","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating notifications: Unable to update push notifications","errorCode":null,"data":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/settings/comments":{"post":{"tags":["Settings"],"summary":"Update Comment Settings","description":"Updates the authenticated user's comment preferences, including who can comment on their content and whether GIF comments are allowed.","operationId":"updateCommentSettings","requestBody":{"description":"Comment preferences for the user","content":{"application/json":{"schema":{"type":"object","example":{"userId":"101","allowCommentsFrom":"FOLLOWERS","allowGifComments":"true"}},"examples":{"Update Comment Settings":{"description":"Update Comment Settings","value":{"userId":"101","allowCommentsFrom":"FOLLOWERS","allowGifComments":"true"}}}}},"required":true},"responses":{"200":{"description":"Comment settings updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"Comment settings updated successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid or missing comment settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"userId, allowCommentsFrom and allowGifComments are required","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":"UNAUTHORIZED","totalRecords":null}}}}}},"500":{"description":"Internal server error while updating comment settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Error":{"description":"Internal Error","value":{"success":false,"message":"Error updating settings: Unable to update comment settings","data":null,"errorCode":"INTERNAL_ERROR","totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/settings/blockUser/{userId}/{userIdToBlock}":{"post":{"tags":["Settings"],"summary":"Block User","description":"Blocks a specified user for the authenticated user. The userId can be provided in the path or obtained from the current HTTP session.","operationId":"blockUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userIdToBlock","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"User blocked successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":"User blocked successfully","data":true,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request or error while blocking the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Bad Request":{"description":"Bad Request","value":{"success":false,"message":"Error blocking user: User is already blocked","data":null,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"WRITE"}}},"/settings/account/updateTwoFactorAuth":{"post":{"tags":["Settings"],"summary":"Enable Two-Factor Authentication","description":"Verifies the user's Google Authenticator/TOTP OTP and enables Two-Factor Authentication.\n\nThe process performs the following:\n1. Validates the user ID.\n2. Validates that a 2FA OTP has been provided.\n3. Retrieves the stored GA OTP configuration for the user.\n4. Verifies the provided OTP against the stored OTP.\n5. Generates the current TOTP using the user's stored 2FA secret key.\n6. Compares the generated TOTP with the provided OTP.\n7. Enables 2FA when the OTP is valid.\n\nThe user ID is currently obtained from the request body rather than the HTTP session.\n","operationId":"updateTwoFactorAuth","requestBody":{"description":"User information required to verify and enable Two-Factor Authentication.\n\nRequired fields:\n- userId: ID of the user.\n- otp: One-Time Password used for 2FA verification.\n\nThe API validates the OTP against the user's configured 2FA information.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"examples":{"Enable 2FA Request":{"description":"Enable 2FA Request","value":{"userId":101,"otp":123456}}}}},"required":true},"responses":{"200":{"description":"2FA status verification completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"2FA Enabled":{"summary":"2FA successfully enabled","description":"2FA Enabled","value":{"success":true,"message":"2FA enabled successfully","data":{"userId":101,"uuid":"550e8400-e29b-41d4-a716-446655440000","username":"john_doe","email":"john.doe@example.com","twoFactorEnabled":true},"errorCode":null,"totalRecords":null}},"2FA Not Setup":{"summary":"2FA has not been configured for the user","description":"2FA Not Setup","value":{"success":true,"message":"2FA is not setup for this user","data":null,"errorCode":null,"totalRecords":null}},"Invalid 2FA OTP":{"summary":"Provided OTP is invalid","description":"Invalid 2FA OTP","value":{"success":true,"message":"Invalid 2FA OTP","data":null,"errorCode":null,"totalRecords":null}},"Invalid GA OTP":{"summary":"Provided GA OTP does not match the stored OTP","description":"Invalid GA OTP","value":{"success":true,"message":"Invalid GA OTP","data":null,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request or 2FA OTP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"OTP Required":{"description":"OTP Required","value":{"success":false,"message":"Error updating 2FA: 2FA otp is required to enabled 2FA","data":null,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while enabling 2FA","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating 2FA: Failed to enabled 2FA","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/settings/account/updateEmail":{"post":{"tags":["Settings"],"summary":"Update User Email","description":"Updates the user's email address after validating the provided UUID and OTP. The new email must not already be registered to another user.","operationId":"updateEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmailRequest"}}},"required":true},"responses":{"200":{"description":"Email updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success Response":{"description":"Success Response","value":{"success":true,"message":null,"data":{"status":true,"message":"Email updated successfully"},"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid UUID/OTP, email already in use, or validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid UUID or OTP":{"description":"Invalid UUID or OTP","value":{"success":false,"message":"UUID or OTP is invalid","data":null,"errorCode":null,"totalRecords":null}},"Email Already Exists":{"description":"Email Already Exists","value":{"success":false,"message":"Email already in use","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while updating the email","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating email","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/settings/account/getTwoFactorKey":{"post":{"tags":["Settings"],"summary":"Toggle Two-Factor Authentication","description":"Enables or disables Two-Factor Authentication (2FA) for a user.\n\nWhen 2FA is currently disabled:\n- The user must provide a valid email OTP.\n- The OTP is validated against the user's account.\n- A new TOTP secret key is generated.\n- 2FA settings are updated for the user.\n- The updated user details are returned.\n\nWhen 2FA is currently enabled:\n- The user must provide a valid Google Authenticator/TOTP OTP.\n- The OTP is validated against the stored 2FA secret key.\n- If valid, 2FA is disabled and the stored secret key is cleared.\n- If the OTP is invalid, the API returns a successful response with null data.\n\nThe user ID is currently taken from the request body rather than the HTTP session.\n","operationId":"getTwoFactorKey","requestBody":{"description":"User information used to toggle two-factor authentication.\n\nTo enable 2FA, provide:\n- userId\n- otp (email verification OTP)\n\nTo disable 2FA, provide:\n- userId\n- gaOtp (Google Authenticator/TOTP OTP)\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"examples":{"Enable 2FA":{"summary":"Request to enable 2FA using email OTP","description":"Enable 2FA","value":{"userId":101,"otp":123456}},"Disable 2FA":{"summary":"Request to disable 2FA using authenticator OTP","description":"Disable 2FA","value":{"userId":101,"gaOtp":654321}}}}},"required":true},"responses":{"200":{"description":"2FA operation completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"2FA Enabled":{"summary":"Successful 2FA enable operation","description":"2FA Enabled","value":{"success":true,"message":"Your 2FA secret key was generated successfully.","data":{"userId":101,"uuid":"550e8400-e29b-41d4-a716-446655440000","username":"john_doe","email":"john.doe@example.com","twoFactorEnabled":true,"twoFactorKey":"JBSWY3DPEHPK3PXP"},"errorCode":null,"totalRecords":null}},"2FA Disabled":{"summary":"Successful 2FA disable operation","description":"2FA Disabled","value":{"success":true,"message":"2FA disabled successfully","data":{"userId":101,"uuid":"550e8400-e29b-41d4-a716-446655440000","username":"john_doe","email":"john.doe@example.com","twoFactorEnabled":false,"twoFactorKey":null},"errorCode":null,"totalRecords":null}},"Invalid 2FA OTP":{"summary":"Invalid authenticator OTP","description":"Invalid 2FA OTP","value":{"success":true,"message":"Invalid 2FA OTP","data":null,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid request, OTP, or user information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"OTP Required":{"summary":"OTP is required to enable 2FA","description":"OTP Required","value":{"success":false,"message":"Error updating 2FA: OTP is required to enable 2FA","data":null,"errorCode":null,"totalRecords":null}},"Invalid OTP":{"summary":"Invalid email OTP while enabling 2FA","description":"Invalid OTP","value":{"success":false,"message":"Error updating 2FA: Invalid OTP","data":null,"errorCode":null,"totalRecords":null}},"2FA OTP Required":{"summary":"Authenticator OTP is required to disable 2FA","description":"2FA OTP Required","value":{"success":false,"message":"Error updating 2FA: 2FA otp is required to disable 2FA","data":null,"errorCode":null,"totalRecords":null}},"User Not Found":{"summary":"User does not exist","description":"User Not Found","value":{"success":false,"message":"Error updating 2FA: User not found","data":null,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while updating two-factor authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error updating 2FA: Failed to enable 2FA","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/settings/account/deactivateAccount":{"post":{"tags":["Settings"],"summary":"Deactivate User Account","description":"Deactivates the user's account based on the provided user ID and action.\n\nThe action must be 'DEACTIVATE' (case-insensitive).\nIf any other action is provided, the request is rejected as invalid.\n\nThe user ID is currently obtained from the request body.\n","operationId":"deactivateAccount","requestBody":{"description":"Request containing the user ID and account action.\n\nThe action must be 'DEACTIVATE'.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"examples":{"Deactivate Account Request":{"description":"Deactivate Account Request","value":{"userId":101,"action":"DEACTIVATE"}}}}},"required":true},"responses":{"200":{"description":"Account deactivation request processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Account Deactivated":{"summary":"User account successfully deactivated","description":"Account Deactivated","value":{"success":true,"message":"Account deactivated successfully","data":true,"errorCode":null,"totalRecords":null}},"Invalid Action":{"summary":"Invalid account action","description":"Invalid Action","value":{"success":false,"message":"Invalid action. Only 'deactivate' is allowed.","data":null,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid account deactivation request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Invalid action. Only 'deactivate' is allowed.","data":null,"errorCode":null,"totalRecords":null}}}}}},"401":{"description":"User is not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Unauthorized":{"description":"Unauthorized","value":{"success":false,"message":"User not authenticated","data":null,"errorCode":null,"totalRecords":null}}}}}},"500":{"description":"Internal server error while deactivating the account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Internal Server Error":{"description":"Internal Server Error","value":{"success":false,"message":"Error deactivating account: Unable to deactivate account","data":null,"errorCode":null,"totalRecords":null}}}}}}},"x-bitocircle-auth":{"perm":"ACCOUNT"}}},"/reports/reportPost":{"post":{"tags":["Report Management"],"summary":"Create Post Report","description":"Creates a new report against a post based on the provided report details.","operationId":"createPostReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePostReportRequest"}}},"required":true},"responses":{"201":{"description":"Post report created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Post report created successfully","data":10001,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid post report request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Invalid report request","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Server Error":{"description":"Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"SERVER_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/reports/reportAccount":{"post":{"tags":["Report Management"],"summary":"Create Account Report","description":"Creates a new report against a user account based on the provided report details.","operationId":"createAccountReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountReportRequest"}}},"required":true},"responses":{"201":{"description":"Account report created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Success":{"description":"Success","value":{"success":true,"message":"Account report created successfully","data":10001,"errorCode":null,"totalRecords":null}}}}}},"400":{"description":"Invalid report request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Invalid Request":{"description":"Invalid Request","value":{"success":false,"message":"Invalid report request","data":null,"errorCode":"INVALID_INPUT","totalRecords":null}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Server Error":{"description":"Server Error","value":{"success":false,"message":"Internal server error","data":null,"errorCode":"SERVER_ERROR","totalRecords":null}}}}}}},"security":[{"bearerAuth":[],"uuidHeader":[]},{"apiKeyAuth":[]},{"appOAuth":["bitocircle.post.write"]}],"x-bitocircle-auth":{"perm":"WRITE","scope":"bitocircle.post.write"}}},"/reels/likeReel":{"post":{"tags":["Reels"],"summary":"Like or Unlike Reel","description":"Toggles the like status of a reel for a user.\n\nIf the user has not liked the reel, the reel is liked.\nIf the user has already liked the reel, the like is removed.\n","operationId":"likeReel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reel"}}},"required":true},"responses":{"200":{"description":"Like/unlike operation completed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"},"examples":{"Reel Liked":{"description":"Reel Liked","value":{"success":true,"message":"FeedsReel liked","data":true}},"Reel Unliked":{"description":"Reel Unliked","value":{"success":true,"message":"FeedsReel unliked","data":false}}}}}},"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}},"404":{"description":"Reel not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"
[...]
